Repository microsoft/showwhy: changes, and which lint-staged commands are due for each by the changed paths.
All: essex prettify --staged, essex lint --fix --staged, bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)", bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)", bash -c "(cd python/showwhy-inference && poetry run isort ./showwhy_inference)", bash -c "(cd python/showwhy-inference && poetry run black ./showwhy_inference)"

minor changes from feedback
  javascript/client/src/components/FactorsDefinitionForm/variables.tsx
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderCausalFactorsPage/ConsiderCausalFactorsPage.tsx
Due: none

acceptance test fixed fot define model page
  javascript/acceptance-tests/package.json
  javascript/acceptance-tests/pageObjects/DefineModelPage.ts
  javascript/acceptance-tests/pageObjects/ModelCausalFactorsPage.ts
  javascript/acceptance-tests/pw-tests/define-model.spec.ts
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

merge factors pages, refactored causalFactor, added dropdown for causes exp/out in factors page
  javascript/client/public/data/examples/covid-19.json
  javascript/client/src/data/stepsList.ts
  javascript/client/src/hooks/causalFactors.ts
  javascript/client/src/hooks/useDegreeComboBox.tsx
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/DefineFactorsPage.tsx
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/FactorsTable/FactorsTable.tsx
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/FactorsTable/hooks/factors.ts
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/FactorsTable/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/FactorsTable/hooks/inputs.tsx
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/FactorsTable/hooks/onChange.ts
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/hooks.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnResetVariable.ts
  javascript/types/src/causality/BeliefDegree.ts
  javascript/types/src/causality/CausalFactor.ts
  javascript/types/src/causality/Cause.ts
  javascript/types/src/causality/FlatCausalFactor.ts
Due: essex prettify --staged

darren fixes
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/RunHistoryList.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/CompletedElements.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnSetSubjectIdentifier.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
Due: none

unified page title element
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderCausalFactorsPage/ConsiderCausalFactorsPage.tsx
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/DefineFactorsPage.tsx
  javascript/client/src/pages/ModelDomain/DescribeElementsPage/FieldGroup.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/PageButtons.tsx
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/SelectCausalEstimatorsPage.tsx
Due: none

update dwc
  javascript/client/package.json
  yarn.lock
Due: essex prettify --staged

fix upper case and dwc version
  javascript/client/package.json
  javascript/client/src/pages/PrepareData/ProcessDataPage/CompletedElements.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useCommandBar.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
  yarn.lock
Due: essex prettify --staged

feedbacks (#127)
  javascript/client/package.json
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/RunHistoryList.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/CompletedElements.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useCommandBar.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnSetSubjectIdentifier.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
  yarn.lock
Due: essex prettify --staged

filter out non completed runs, modified error message to show default text
  javascript/client/src/components/ErrorMessage/ErrorMessage.tsx
  javascript/client/src/hooks/saveProject.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/RunHistoryList.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/PageButtons.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/ExploreSpecificationCurvePage.tsx
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/SelectCausalEstimatorsPage.tsx
  javascript/client/src/utils/estimators.ts
Due: none

update guidance on perform analysis
  javascript/client/src/markdown/perform-analysis/CausalEffects.md
  javascript/client/src/markdown/perform-analysis/Estimators.md
  javascript/client/src/markdown/perform-analysis/Hypothesis.md
  javascript/client/src/markdown/perform-analysis/SpecificationCurve.md
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/ExploreSpecificationCurvePage.tsx
Due: essex prettify --staged

update dwc version
  javascript/client/package.json
  yarn.lock
Due: essex prettify --staged

update guidance and dwc (#129)
  javascript/client/package.json
  javascript/client/src/markdown/perform-analysis/CausalEffects.md
  javascript/client/src/markdown/perform-analysis/Estimators.md
  javascript/client/src/markdown/perform-analysis/Hypothesis.md
  javascript/client/src/markdown/perform-analysis/SpecificationCurve.md
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/ExploreSpecificationCurvePage.tsx
  yarn.lock
Due: essex prettify --staged

create radio button card and apply to confirm models
  javascript/client/src/components/CardComponent/RadioButtonCard.tsx
  javascript/client/src/pages/ModelDomain/ConfirmAlternativeModelsPage/ConfirmAlternativeModelsPage.tsx
  javascript/client/src/pages/ModelDomain/ConfirmAlternativeModelsPage/hooks.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/hooks.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/PageButtons.tsx
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/RefutationTests.tsx
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/SelectCausalEstimatorsPage.tsx
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/refutations.ts
  javascript/client/src/types/common/RadioButtonChoice.ts
  javascript/client/src/types/common/index.ts
  javascript/client/src/types/index.ts
Due: none

Fix upload
  python/showwhy-backend/showwhy_backend/UploadFile/__init__.py
Due: bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)", bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)"

remove percentage from run progress
  javascript/client/src/components/ProgressBar/ProgressBar.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/RunHistoryList.tsx
Due: none

remove debugger
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/hooks.ts
Due: none

fix Title
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/SelectCausalEstimatorsPage.tsx
Due: none

remove refutationchoice not used
  javascript/types/src/refutation/RefutationChoice.ts
  javascript/types/src/refutation/index.ts
Due: none

fix playwright tests
  javascript/acceptance-tests/pageObjects/SelectCausalEstimatorsPage.ts
Due: none

guidance scroll
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/components/GeneralSteps/StepSelector/StepSelector.tsx
  javascript/client/src/components/Guidance/Guidance.tsx
Due: none

prepare data automatic
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnSetSubjectIdentifier.ts
Due: none

Fix upload (#130)
  python/showwhy-backend/showwhy_backend/UploadFile/__init__.py
Due: bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)", bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)"

add perform analysis as automatic todo/done
  javascript/client/src/hooks/specificationCurve.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks.ts
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/hooks.ts
Due: none

fix playwright
  javascript/acceptance-tests/pageObjects/SelectCausalEstimatorsPage.ts
Due: none

modify confirm domain models page radio buttons (#131)
  javascript/acceptance-tests/pageObjects/SelectCausalEstimatorsPage.ts
  javascript/client/src/components/CardComponent/RadioButtonCard.tsx
  javascript/client/src/components/ProgressBar/ProgressBar.tsx
  javascript/client/src/pages/ModelDomain/ConfirmAlternativeModelsPage/ConfirmAlternativeModelsPage.tsx
  javascript/client/src/pages/ModelDomain/ConfirmAlternativeModelsPage/hooks.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/RunHistoryList.tsx
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/RefutationTests.tsx
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/SelectCausalEstimatorsPage.tsx
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/refutations.ts
  javascript/client/src/types/common/RadioButtonChoice.ts
  javascript/client/src/types/common/index.ts
  javascript/client/src/types/index.ts
  javascript/types/src/refutation/RefutationChoice.ts
  javascript/types/src/refutation/index.ts
Due: none

done step hook for model domain pages
  javascript/client/src/pages/ModelDomain/ConfirmAlternativeModelsPage/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/ConfirmAlternativeModelsPage/hooks/index.ts
  javascript/client/src/pages/ModelDomain/ConfirmAlternativeModelsPage/hooks/useSetPageDone.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useSetPageDone.ts
  javascript/client/src/pages/ModelDomain/ConsiderCausalFactorsPage/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/ConsiderCausalFactorsPage/hooks/index.ts
  javascript/client/src/pages/ModelDomain/ConsiderCausalFactorsPage/hooks/useSetPageDone.ts
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/hooks/index.ts
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/hooks/useSetPageDone.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useDefaultSelectedFile.ts
Due: none

set done page for define causal question
  javascript/client/src/pages/ModelDomain/DescribeElementsPage/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/DescribeElementsPage/hooks/index.ts
  javascript/client/src/pages/ModelDomain/DescribeElementsPage/hooks/useSetDonePage.ts
Due: none

fix lint
  javascript/client/src/components/ProgressBar/ProgressBar.tsx
  javascript/client/src/pages/ModelDomain/DescribeElementsPage/hooks/hooks.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks.ts
Due: none

fix evaluate hypothesis status
  javascript/client/src/components/ProgressBar/ProgressBar.tsx
  javascript/client/src/hooks/specificationCurve.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks.ts
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/ExploreSpecificationCurvePage.tsx
Due: none

hide estimate causal effects
  javascript/client/src/components/CausalEffects/ComponentArrows/ComponentArrows.tsx
  javascript/client/src/data/stepsList.ts
  javascript/client/src/markdown/perform-analysis/SpecificationCurve.md
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/AnalysisSpecifications.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/CausalDetails.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/ResultsGraph.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/SignificanceTests.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks.ts
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/ExploreSpecificationCurvePage.tsx
Due: essex prettify --staged

fix lint
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/ExploreSpecificationCurvePage.tsx
Due: none

updated dwc
  javascript/client/package.json
  yarn.lock
Due: essex prettify --staged

skip acc tests for hidden page
  javascript/acceptance-tests/pw-tests/estimate-causal-effects.spec.ts
Due: essex lint --fix --staged

skipping unitest of estimate causal effects page
  javascript/acceptance-tests/pw-tests/estimate-causal-effects.spec.ts
Due: essex lint --fix --staged

evaluate hypothesis change (#133)
  javascript/acceptance-tests/pw-tests/estimate-causal-effects.spec.ts
  javascript/client/src/components/CausalEffects/ComponentArrows/ComponentArrows.tsx
  javascript/client/src/data/stepsList.ts
  javascript/client/src/markdown/perform-analysis/SpecificationCurve.md
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/AnalysisSpecifications.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/CausalDetails.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/ResultsGraph.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/SignificanceTests.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks.ts
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/ExploreSpecificationCurvePage.tsx
Due: essex prettify --staged, essex lint --fix --staged

remove unused replaceAll
  javascript/client/src/utils/files.ts
Due: none

minor ui changes
  javascript/client/public/data/examples/covid-19.json
  javascript/client/public/data/examples/smoking-cessation.json
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/SignificanceTests.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/hooks/hooks.ts
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/EstimatorCard.tsx
Due: essex prettify --staged

start to change refutation type to count
  javascript/builders/src/buildRefutationSpecs.ts
  javascript/client/src/hooks/loadProject.ts
  javascript/client/src/hooks/nodeProperties.ts
  javascript/client/src/hooks/nodes.ts
  javascript/client/src/hooks/refutation.ts
  javascript/client/src/hooks/resetProject.ts
  javascript/client/src/hooks/saveProject.ts
  javascript/client/src/state/index.ts
  javascript/client/src/state/refutationCount.ts
  javascript/client/src/state/refutationTests.ts
  javascript/client/src/types/files/Workspace.ts
  javascript/client/src/types/runs/RunHistory.ts
  javascript/client/src/utils/api.ts
Due: none

autotype on by default
  javascript/client/src/hooks/loadProject.ts
Due: none

Path conditions:
  essex prettify --staged: any of: *.{json,md}
  essex lint --fix --staged: any of: javascript/**/*.*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}
  bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)": any of: python/showwhy-backend/**/*.py
  bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)": any of: python/showwhy-backend/**/*.py
  bash -c "(cd python/showwhy-inference && poetry run isort ./showwhy_inference)": any of: python/showwhy-interface/**/*.py
  bash -c "(cd python/showwhy-inference && poetry run black ./showwhy_inference)": any of: python/showwhy-interface/**/*.py
