Repository microsoft/showwhy: changes, and which lint-staged commands are due for each by the changed paths.
All: essex prettify --staged, essex lint --fix --staged, bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)", bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)", bash -c "(cd python/showwhy-inference && poetry run isort ./showwhy_inference)", bash -c "(cd python/showwhy-inference && poetry run black ./showwhy_inference)"

.lintstagedrc.json:

{
	"*.{json,md}": ["essex prettify --staged"],
	"javascript/**/*.*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": [
		"essex lint --fix --staged"
	],
	"python/showwhy-backend/**/*.py": [
		"bash -c \"(cd python/showwhy-backend && poetry run isort ./showwhy_backend)\"",
		"bash -c \"(cd python/showwhy-backend && poetry run black ./showwhy_backend)\""
	],
	"python/showwhy-interface/**/*.py": [
		"bash -c \"(cd python/showwhy-inference && poetry run isort ./showwhy_inference)\"",
		"bash -c \"(cd python/showwhy-inference && poetry run black ./showwhy_inference)\""
	]
}

save runHistory only if status is not processing
  javascript/client/src/hooks/saveProject.ts
Due: none

Fix stage names
  python/.vsts-ci.yml
Due: none

Fix stage names (#109)
  python/.vsts-ci.yml
Due: none

add big padding on vega chart to centralize specs when they are less than 5
  javascript/client/src/hooks/specificationCurve.ts
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/ExploreSpecificationCurvePage.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/AnalyticDecisionsDotPlot.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/OutcomeEffectScatterplot.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/VegaSpecificationCurve.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/dot-plot.json
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/scatter-plot.json
Due: essex prettify --staged

update initializeIcons()
  javascript/client/src/index.tsx
Due: none

add big padding on vega chart to centralize specs when they are less than 5 (#110)
  javascript/client/src/hooks/specificationCurve.ts
  javascript/client/src/index.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/ExploreSpecificationCurvePage.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/AnalyticDecisionsDotPlot.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/OutcomeEffectScatterplot.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/VegaSpecificationCurve.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/dot-plot.json
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/scatter-plot.json
Due: essex prettify --staged

add understand process into a modal
  javascript/client/src/components/App/Routes.tsx
  javascript/client/src/components/AppHeader/AppHeader.tsx
  javascript/client/src/components/AppHeader/OptionsButton.tsx
  javascript/client/src/components/AppHeader/UnderstandProcessButton.tsx
  javascript/client/src/components/Guidance/Guidance.tsx
  javascript/client/src/components/UnderstandProcessModal/UnderstandProcessItem.tsx
  javascript/client/src/components/UnderstandProcessModal/UnderstandProcessLink.tsx
  javascript/client/src/components/UnderstandProcessModal/UnderstandProcessModal.tsx
  javascript/client/src/components/UnderstandProcessModal/index.tsx
  javascript/client/src/data/stepsList.ts
  javascript/client/src/data/understandProcess.ts
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/useMarkdown.ts
  javascript/client/src/index.tsx
  javascript/client/src/pages/UnderstandProcessPage/UnderstandProcessPage.tsx
  javascript/client/src/pages/UnderstandProcessPage/index.ts
  javascript/client/src/types/pages/Pages.ts
  javascript/client/src/types/workflow/ProcessHelp.ts
  javascript/client/src/types/workflow/ProcessHelpLink.ts
  javascript/client/src/types/workflow/ProcessHelpResource.ts
  javascript/client/src/types/workflow/Step.ts
  javascript/client/src/types/workflow/index.ts
Due: none

fix typing
  javascript/client/src/components/AppHeader/OptionsButton.tsx
Due: none

add tests
  javascript/client/src/hooks/__tests__/useMarkdown.spec.ts
  javascript/client/src/hooks/useMarkdown.ts
Due: essex lint --fix --staged

fix acceptance tests
  javascript/acceptance-tests/pageObjects/Header.ts
  javascript/acceptance-tests/pageObjects/UnderstandProcessPage.ts
  javascript/acceptance-tests/pageObjects/index.ts
  javascript/acceptance-tests/pw-tests/header.spec.ts
  javascript/acceptance-tests/pw-tests/understand-process.spec.ts
  javascript/client/src/components/AppHeader/UnderstandProcessButton.tsx
  javascript/client/src/components/UnderstandProcessModal/UnderstandProcessModal.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/ExploreSpecificationCurvePage.tsx
Due: essex lint --fix --staged

fix acc tests
  javascript/acceptance-tests/pageObjects/Header.ts
  javascript/client/src/components/AppHeader/OptionsButton.tsx
  javascript/client/src/components/AppHeader/UnderstandProcessButton.tsx
Due: none

fix tests
  javascript/acceptance-tests/package.json
  javascript/acceptance-tests/pageObjects/Header.ts
  javascript/acceptance-tests/pw-tests/header.spec.ts
  javascript/client/package.json
  javascript/client/src/components/AppHeader/OptionsButton.tsx
  javascript/client/src/components/AppHeader/UnderstandProcessButton.tsx
  javascript/client/src/components/UnderstandProcessModal/UnderstandProcessModal.tsx
Due: essex prettify --staged, essex lint --fix --staged

fix min width
  javascript/client/src/components/UnderstandProcessModal/UnderstandProcessModal.tsx
Due: none

add understand question into a modal (#111)
  javascript/acceptance-tests/package.json
  javascript/acceptance-tests/pageObjects/Header.ts
  javascript/acceptance-tests/pageObjects/UnderstandProcessPage.ts
  javascript/acceptance-tests/pageObjects/index.ts
  javascript/acceptance-tests/pw-tests/header.spec.ts
  javascript/acceptance-tests/pw-tests/understand-process.spec.ts
  javascript/client/package.json
  javascript/client/src/components/App/Routes.tsx
  javascript/client/src/components/AppHeader/AppHeader.tsx
  javascript/client/src/components/AppHeader/OptionsButton.tsx
  javascript/client/src/components/AppHeader/UnderstandProcessButton.tsx
  javascript/client/src/components/Guidance/Guidance.tsx
  javascript/client/src/components/UnderstandProcessModal/UnderstandProcessItem.tsx
  javascript/client/src/components/UnderstandProcessModal/UnderstandProcessLink.tsx
  javascript/client/src/components/UnderstandProcessModal/UnderstandProcessModal.tsx
  javascript/client/src/components/UnderstandProcessModal/index.tsx
  javascript/client/src/data/stepsList.ts
  javascript/client/src/data/understandProcess.ts
  javascript/client/src/hooks/__tests__/useMarkdown.spec.ts
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/useMarkdown.ts
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/ExploreSpecificationCurvePage.tsx
  javascript/client/src/pages/UnderstandProcessPage/UnderstandProcessPage.tsx
  javascript/client/src/pages/UnderstandProcessPage/index.ts
  javascript/client/src/types/pages/Pages.ts
  javascript/client/src/types/workflow/ProcessHelp.ts
  javascript/client/src/types/workflow/ProcessHelpLink.ts
  javascript/client/src/types/workflow/ProcessHelpResource.ts
  javascript/client/src/types/workflow/Step.ts
  javascript/client/src/types/workflow/index.ts
Due: essex prettify --staged, essex lint --fix --staged

fix scroll on process data page
  javascript/client/package.json
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/components/GeneralSteps/StepControls.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/CompletedElements.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
  yarn.lock
Due: essex prettify --staged

fixed bug when there are no defintions
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/hooks/useAllColumns.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/SpecificationsList.tsx
Due: none

add table header to consider factor and define x pages
  javascript/client/src/components/FactorsDefinitionForm/variables.tsx
  javascript/client/src/components/Tables/GenericTableComponent/GenericTableComponent.tsx
  javascript/client/src/components/Tables/TableComponent/TableComponent.tsx
Due: none

add addVariable button on commandBar if no variable is selected
  javascript/client/package.json
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/components/Callout/BaseCallout.tsx
  javascript/client/src/components/Callout/InfoCallout.tsx
  javascript/client/src/components/Callout/LinkCallout.tsx
  javascript/client/src/hooks/__tests__/causalEffects.spec.ts
  javascript/client/src/hooks/__tests__/causalFactors.spec.ts
  javascript/client/src/hooks/causalEffects.ts
  javascript/client/src/hooks/causalFactors.ts
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/modelVariable.ts
  javascript/client/src/hooks/useDegreeComboBox.tsx
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/FactorsTable/hooks/hooks.ts
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/FactorsTable/hooks/inputs.tsx
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/FactorsTable/hooks/onChange.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/AddVariableFields.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useAddVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useDefinitionDropdownOptions.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnSelectVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
  javascript/client/src/utils/__tests__/definition.spec.ts
  javascript/client/src/utils/definition.ts
  javascript/client/src/utils/index.ts
  javascript/types/src/experiments/AlternativeModels.ts
  javascript/types/src/experiments/CommandActionType.ts
  javascript/types/src/experiments/DefinitionType.ts
  javascript/types/src/experiments/index.ts
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

add addVariable button on commandBar if no variable is selected (#113)
  javascript/client/package.json
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/components/Callout/BaseCallout.tsx
  javascript/client/src/components/Callout/InfoCallout.tsx
  javascript/client/src/components/Callout/LinkCallout.tsx
  javascript/client/src/hooks/__tests__/causalEffects.spec.ts
  javascript/client/src/hooks/__tests__/causalFactors.spec.ts
  javascript/client/src/hooks/causalEffects.ts
  javascript/client/src/hooks/causalFactors.ts
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/modelVariable.ts
  javascript/client/src/hooks/useDegreeComboBox.tsx
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/FactorsTable/hooks/hooks.ts
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/FactorsTable/hooks/inputs.tsx
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/FactorsTable/hooks/onChange.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/AddVariableFields.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useAddVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useDefinitionDropdownOptions.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnSelectVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
  javascript/client/src/utils/__tests__/definition.spec.ts
  javascript/client/src/utils/definition.ts
  javascript/client/src/utils/index.ts
  javascript/types/src/experiments/AlternativeModels.ts
  javascript/types/src/experiments/CommandActionType.ts
  javascript/types/src/experiments/DefinitionType.ts
  javascript/types/src/experiments/index.ts
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

add add variable option when no variables available
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
Due: none

auto add factor/definition when leaving page
  javascript/client/src/components/FactorsDefinitionForm/FactorsDefinitionForm.tsx
  javascript/client/src/components/FactorsDefinitionForm/hooks.tsx
  javascript/client/src/components/FactorsDefinitionForm/variables.tsx
  javascript/client/src/components/Tables/GenericTableComponent/GenericTableComponent.tsx
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/useAddOnLeavePage.ts
  javascript/client/src/pages/DefineQuestion/DefineModelDomainPage/hooks/hooks.ts
  javascript/client/src/pages/DefineQuestion/DefineModelDomainPage/hooks/save.ts
  javascript/client/src/pages/ModelCausalFactors/ConsiderCausalFactorsPage/ConsiderCausalFactorsPage.tsx
  javascript/client/src/pages/ModelCausalFactors/ConsiderCausalFactorsPage/hooks.ts
  javascript/client/src/state/experiment.ts
Due: none

revert experiment default
  javascript/client/src/state/experiment.ts
Due: none

updated dwc packages, height fix
  javascript/client/package.json
  javascript/client/src/pages/PrepareData/ProcessDataPage/CompletedElements.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
  yarn.lock
Due: essex prettify --staged

add loading big tables loading with chunk sizes
  javascript/api-client/src/FetchApiInteractor.ts
  javascript/builders/src/buildLoadNode.ts
  javascript/client/src/hooks/datasetUpload.ts
  javascript/client/src/hooks/dropzone/dropzone.ts
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/loadProject.ts
  javascript/client/src/hooks/tables.ts
  javascript/client/src/hooks/useCreateColumnTable.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnUpdateTables.ts
  javascript/client/src/types/files/ProjectFile.ts
  javascript/client/src/utils/arquero.ts
  javascript/client/src/utils/files.ts
Due: none

send zip app type
  javascript/api-client/src/FetchApiInteractor.ts
  javascript/client/src/utils/files.ts
Due: none

fix automax to work
  javascript/api-client/src/FetchApiInteractor.ts
  javascript/client/package.json
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/loadProject.ts
  javascript/client/src/hooks/useCreateColumnTable.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks.ts
  javascript/client/src/utils/arquero.ts
  javascript/client/src/utils/files.ts
  yarn.lock
Due: essex prettify --staged

fix lint
  javascript/client/src/hooks/useCreateColumnTable.ts
  javascript/client/src/utils/files.ts
Due: none

toggle autotype
  javascript/client/public/data/examples/covid-19.json
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/loadProject.ts
  javascript/client/src/hooks/useRunPipeline.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.tsx
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks.ts
  javascript/client/src/types/files/DataTableDefinition.ts
  javascript/client/src/types/files/ProjectFile.ts
  javascript/client/src/utils/arquero.ts
Due: essex prettify --staged

updated zip file for acceptance tests
  javascript/acceptance-tests/files/COVID-19.zip
Due: none

revert sending to backend in a zip
  javascript/api-client/src/FetchApiInteractor.ts
  javascript/builders/src/buildLoadNode.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks.ts
  javascript/client/src/utils/files.ts
Due: none

update utilities
  javascript/client/package.json
  yarn.lock
Due: essex prettify --staged

add description
  javascript/api-client/src/FetchApiInteractor.ts
  javascript/client/src/utils/files.ts
Due: none

add progress indicator when bigFile
  javascript/client/src/components/DropzoneContainer/DropzoneContainer.tsx
  javascript/client/src/hooks/datasetUpload.ts
  javascript/client/src/hooks/dropzone/dropzone.ts
  javascript/client/src/hooks/useCreateColumnTable.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.tsx
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks.ts
  javascript/client/src/utils/files.ts
Due: none

Upload files greather than 350mb in chunks (#115)
  javascript/client/package.json
  javascript/client/src/components/DropzoneContainer/DropzoneContainer.tsx
  javascript/client/src/hooks/datasetUpload.ts
  javascript/client/src/hooks/dropzone/dropzone.ts
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/loadProject.ts
  javascript/client/src/hooks/tables.ts
  javascript/client/src/hooks/useCreateColumnTable.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.tsx
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnUpdateTables.ts
  javascript/client/src/types/files/ProjectFile.ts
  javascript/client/src/utils/arquero.ts
  javascript/client/src/utils/files.ts
  yarn.lock
Due: essex prettify --staged

fix variable creation on process data
  javascript/client/src/hooks/modelVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useSetTargetDefinition.ts
Due: none

fix variable creation on process data (#117)
  javascript/client/src/hooks/modelVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useSetTargetDefinition.ts
Due: none

Add zip file upload
  python/showwhy-backend/showwhy_backend/UploadFile/__init__.py
Due: bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)", bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)"

front-end sending a zip
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks.ts
  javascript/client/src/utils/files.ts
Due: none

fix problem when loading big zip
  javascript/client/src/hooks/saveProject.ts
Due: none

fix onUpdateOutput
  javascript/client/src/hooks/saveProject.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks.tsx
  javascript/client/src/utils/files.ts
Due: none
