Repository microsoft/showwhy: changes, and which lint-staged commands are due for each by the changed paths.
All: essex prettify --staged, essex lint --fix --staged, bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)", bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)", bash -c "(cd python/showwhy-inference && poetry run isort ./showwhy_inference)", bash -c "(cd python/showwhy-inference && poetry run black ./showwhy_inference)"

.lintstagedrc.json:

{
	"*.{json,md}": ["essex prettify --staged"],
	"javascript/**/*.*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": [
		"essex lint --fix --staged"
	],
	"python/showwhy-backend/**/*.py": [
		"bash -c \"(cd python/showwhy-backend && poetry run isort ./showwhy_backend)\"",
		"bash -c \"(cd python/showwhy-backend && poetry run black ./showwhy_backend)\""
	],
	"python/showwhy-interface/**/*.py": [
		"bash -c \"(cd python/showwhy-inference && poetry run isort ./showwhy_inference)\"",
		"bash -c \"(cd python/showwhy-inference && poetry run black ./showwhy_inference)\""
	]
}

update sdks
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/package.json
Due: essex prettify --staged

update yarn
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: essex prettify --staged

fix column naming
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnAssignAllSubjects.ts
Due: none

remove creation of column for population
  javascript/builders/src/buildSpecs.ts
  javascript/webapp/src/constants.ts
  javascript/webapp/src/hooks/nodeProperties.ts
  javascript/webapp/src/hooks/nodes.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.constants.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useEstimateLogic.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useUploadFile.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/DeriveDataVariablesPage.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/CompletedElements.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useBusinessLogic.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnAssignAllSubjects.ts
  javascript/webapp/src/utils/definition.ts
Due: essex lint --fix --staged

fix select
  javascript/webapp/src/hooks/nodeProperties.ts
  javascript/webapp/src/hooks/nodes.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useUploadFile.ts
Due: none

fix lint
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useUploadFile.ts
Due: none

create label for when allsubjects assigned
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/CompletedElements.tsx
Due: none

add option to assign full table as population (#198)
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  javascript/builders/src/buildSpecs.ts
  javascript/webapp/src/constants.ts
  javascript/webapp/src/hooks/nodeProperties.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.constants.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useEstimateLogic.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useUploadFile.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/DeriveDataVariablesPage.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/CompletedElements.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useBusinessLogic.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnAssignAllSubjects.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnSelectVariable.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/usePrepareData.ts
  javascript/webapp/src/utils/definition.ts
  package.json
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

fixed reset var when assigning a new one
  javascript/webapp/src/hooks/__tests__/causalFactors.spec.ts
  javascript/webapp/src/hooks/causalFactors.ts
  javascript/webapp/src/hooks/useAllVariables.ts
  javascript/webapp/src/hooks/useSaveDefinition.ts
  javascript/webapp/src/hooks/validateColumnDataTypes.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
  javascript/webapp/src/pages/PrepareData/ConfirmDataPage/ConfirmDataPage.hooks.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/DataTypeWarningMessage.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useAddVariable.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useBusinessLogic.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useCompletedElements.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useDefinitionDropdownOptions.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useIsStepDone.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnSelectVariable.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnSetSubjectIdentifier.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useRenderDropdownOption.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useSetTargetCausalFactor.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useSetTargetDefinition.ts
Due: essex lint --fix --staged

split ci
  .github/workflows/javascript-ci.yml
  .github/workflows/python-ci.yml
  package.json
  python/backend/.npmrc
  python/backend/package.json
  python/events/server/__init__.py
  python/events/server/main.py
  python/events/server/rpy.py
  python/events/server/synthdid_simple.r
  python/events/server/types.py
  yarn.lock
Due: essex prettify --staged

add codeql task
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

add missing files
  .gitignore
  javascript/app-model-exposure/src/types/runs/RunHistory.ts
  javascript/app-model-exposure/src/types/runs/RunStatus.ts
Due: none

lint fix
  javascript/app-event-analysis/src/components/MainContent.tsx
  javascript/app-explore/src/components/CauseDis.tsx
  javascript/app-explore/src/components/MenuBar.hooks.tsx
  javascript/app-model-exposure/src/components/EstimatorCard.tsx
  javascript/app-model-exposure/src/hooks/bindData/useBindData.ts
  javascript/app-model-exposure/src/pages/BindDataPage.tsx
  javascript/app-model-exposure/src/pages/BuildDomainModelPage.hooks.tsx
  javascript/app-model-exposure/src/pages/DefineDomainModelPage.hooks.tsx
  javascript/app-wrangle/src/components/ParserOptionsEditor.tsx
  javascript/app-wrangle/src/components/TableEditor.tsx
  javascript/app-wrangle/src/components/WrangleData.tsx
  javascript/webapp/src/components/App.tsx
  javascript/webapp/src/components/FileTree.hooks.tsx
  javascript/webapp/src/components/FileTree.tsx
Due: essex lint --fix --staged

remove bundle step (unused)
  .github/workflows/javascript-ci.yml
Due: none

use python dep install script
  .github/.vsts-ci.yml
  .github/workflows/python-ci.yml
Due: none

fix binding dataset to exposure analysis
  javascript/app-model-exposure/src/hooks/bindData/useBindData.ts
Due: none

change outputTable from id to name
  javascript/app-model-exposure/src/hooks/useOutputTable.ts
Due: none

fix binding dataset to exposure analysis (#201)
  javascript/app-model-exposure/src/hooks/bindData/useBindData.ts
  javascript/app-model-exposure/src/hooks/useOutputTable.ts
Due: none

update core libraries
  javascript/app-common/package.json
  javascript/app-common/src/persistence/DefaultPersistenceService.ts
  javascript/app-event-analysis/package.json
  javascript/app-explore/package.json
  javascript/app-model-exposure/package.json
  javascript/app-wrangle/package.json
  javascript/webapp/package.json
  package.json
  yarn.lock
Due: essex prettify --staged

extract toFileCollection function
  javascript/app-common/src/persistence/DefaultPersistenceService.ts
Due: none

update datashaper
  javascript/app-common/package.json
  javascript/app-model-exposure/package.json
  javascript/app-wrangle/package.json
  javascript/webapp/package.json
  yarn.lock
Due: essex prettify --staged

update defaultPersistenceService
  javascript/app-common/src/persistence/DefaultPersistenceService.ts
Due: none

remove golem
  javascript/app-explore/src/components/AlgorithmControls.constants.tsx
  javascript/app-explore/src/domain/CausalDiscovery/CausalDiscoveryAlgorithm.tsx
  python/backend/backend/discover/router.py
Due: essex lint --fix --staged

run python formatter
  python/backend/backend/discover/router.py
Due: none

restore exposure examples
  javascript/webapp/public/data/examples/exposure/covid-19.json
  javascript/webapp/public/data/examples/exposure/examples.json
  javascript/webapp/public/data/examples/exposure/smoking-cessation.json
Due: essex prettify --staged

replace direct recoil usage with hooks
  javascript/app-explore/src/components/AlgorithmControls.tsx
  javascript/app-explore/src/components/CauseDis.tsx
  javascript/app-explore/src/components/MenuBar.hooks.tsx
  javascript/app-explore/src/components/MenuBar.tsx
  javascript/app-explore/src/components/ViewControls.tsx
  javascript/app-explore/src/components/controls/CausalInferenceSlider.tsx
  javascript/app-explore/src/components/controls/ThresholdSlider.tsx
  javascript/app-explore/src/components/controls/ThresholdSlider.types.ts
  javascript/app-explore/src/components/graph/CausalEdge.tsx
  javascript/app-explore/src/components/graph/CausalNode.tsx
  javascript/app-explore/src/components/graph/GraphViews.tsx
  javascript/app-explore/src/components/panels/ConstraintsPanel.tsx
  javascript/app-explore/src/components/panels/RelationshipPropertiesPanel.tsx
  javascript/app-explore/src/components/panels/VariablePropertiesPanel.tsx
  javascript/app-explore/src/state/CausalGraphState.tsx
  javascript/app-explore/src/state/CausalInferenceState.tsx
  javascript/app-explore/src/state/PersistentInfoState.tsx
  javascript/app-explore/src/state/UIState.tsx
Due: essex lint --fix --staged

ts fixes
  javascript/app-explore/src/components/MenuBar.hooks.tsx
  javascript/app-explore/src/state/CausalInferenceState.tsx
Due: essex lint --fix --staged

progress tick
  javascript/app-explore/src/components/controls/CausalInferenceSlider.tsx
  javascript/app-explore/src/domain/Dataset.tsx
  javascript/app-explore/src/state/CausalInferenceState.tsx
  javascript/app-explore/src/state/DatasetState.tsx
Due: none

wip
  javascript/app-explore/src/components/controls/SaveStateButton.tsx
  javascript/app-explore/src/components/graph/CausalEdge.tsx
  javascript/app-explore/src/components/graph/CausalGraphExplorer.tsx
  javascript/app-explore/src/state/CausalGraphState.tsx
  javascript/app-explore/src/state/CorrelationsState.tsx
  javascript/app-explore/src/state/PersistentInfoState.tsx
  javascript/app-explore/src/state/UIState.tsx
Due: none

remove forignkey proceussing
  javascript/app-explore/src/domain/CausalVariable.tsx
  javascript/app-explore/src/state/DatasetState.tsx
Due: none

move rehydraterecoil to state/hooks file
  javascript/app-explore/src/index.tsx
  javascript/app-explore/src/state/hooks.ts
Due: none

move state hooks to state/hooks.ts
  javascript/app-explore/src/index.tsx
  javascript/app-explore/src/state/CausalGraphState.tsx
  javascript/app-explore/src/state/CausalInferenceState.tsx
  javascript/app-explore/src/state/hooks.ts
Due: none

ts/lint fixes
  javascript/app-explore/src/components/graph/CausalEdge.tsx
  javascript/app-explore/src/components/graph/CausalNode.tsx
  javascript/app-explore/src/domain/Dataset.tsx
  javascript/app-explore/src/state/selectors/dataset.ts
  javascript/app-explore/src/state/selectors/layout.ts
Due: none

run lint fix
  javascript/app-explore/src/components/MenuBar.tsx
  javascript/app-explore/src/components/graph/CausalGraphExplorer.tsx
  javascript/app-explore/src/components/graph/NetworkGraphExplorer.tsx
  javascript/app-explore/src/components/panels/RelationshipPropertiesPanel.tsx
  javascript/app-explore/src/components/panels/VariablePropertiesPanel.tsx
  javascript/app-explore/src/state/atoms/index.ts
  javascript/app-explore/src/state/hooks.ts
  javascript/app-explore/src/state/index.ts
  javascript/app-explore/src/state/selectors/causal_graph.ts
  javascript/app-explore/src/state/selectors/causal_inference.ts
  javascript/app-explore/src/state/selectors/correlations.ts
  javascript/app-explore/src/state/selectors/index.ts
Due: none

split hooks into separate files
  javascript/app-explore/src/index.tsx
  javascript/app-explore/src/state/hooks.ts
  javascript/app-explore/src/state/hooks/index.ts
  javascript/app-explore/src/state/hooks/useCausalDiscoveryRunner.ts
  javascript/app-explore/src/state/hooks/useCausalGraphHistoryTracker.ts
  javascript/app-explore/src/state/hooks/useCausalInferenceUpdater.ts
  javascript/app-explore/src/state/hooks/useRehydrateRecoil.ts
Due: none

update state index
  javascript/app-explore/src/state/index.ts
Due: none

add useCausalGraphState hook
  javascript/app-explore/src/index.tsx
  javascript/app-explore/src/state/hooks/useCausalGraphState.ts
Due: none
