Repository microsoft/showwhy: changes, and which lint-staged commands are due for each by the changed paths.
All: essex prettify --staged, essex lint --fix --staged, bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)", bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)", bash -c "(cd python/showwhy-inference && poetry run isort ./showwhy_inference)", bash -c "(cd python/showwhy-inference && poetry run black ./showwhy_inference)"

Update files.ts
  javascript/client/src/utils/files.ts
Due: none

fixes from comments
  javascript/acceptance-tests/files/COVID-19.zip
  javascript/client/package.json
  javascript/client/public/data/examples/covid-19.json
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/loadProject.ts
  javascript/client/src/hooks/saveProject.ts
  javascript/client/src/hooks/useRunPipeline.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks.ts
  javascript/client/src/types/files/ProjectFile.ts
  yarn.lock
Due: essex prettify --staged

zip upload to backend (#118)
  javascript/client/src/hooks/saveProject.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks.tsx
  javascript/client/src/utils/files.ts
  python/showwhy-backend/showwhy_backend/UploadFile/__init__.py
Due: bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)", bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)"

add id
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/useIsMicrodata.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useDefinitionDropdownOptions.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useMicrodataInfoMessage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
  javascript/client/src/utils/files.ts
  javascript/types/src/experiments/CommandActionType.ts
Due: none

add message
  javascript/client/public/data/examples/covid-19.json
  javascript/client/public/data/examples/smoking-cessation.json
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectsPage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useDefinitionDropdownOptions.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useMicrodataInfoMessage.tsx
Due: essex prettify --staged

fix lint
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectsPage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/InfoMessage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/InfoMessage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/hooks.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/index.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useMicrodataInfoMessage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
Due: none

shorten error message and disable button if errors
  javascript/client/src/components/ErrorMessage/ErrorMessage.tsx
  javascript/client/src/components/ErrorMessage/ShortenMessage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectsPage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/RunHistoryList.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/hooks.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useMicrodataInfoMessage.tsx
Due: none

add subject identifier only if no variable is set
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useAddVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnSelectVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
Due: none

fix lint
  javascript/client/src/hooks/useIsMicrodata.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useMicrodataInfoMessage.tsx
Due: none

add new zip file
  javascript/acceptance-tests/files/COVID-19.zip
  javascript/acceptance-tests/files/Smoking Cessation.zip
Due: none

add subject identifier selector (#119)
  javascript/acceptance-tests/files/COVID-19.zip
  javascript/acceptance-tests/files/Smoking Cessation.zip
  javascript/client/public/data/examples/covid-19.json
  javascript/client/public/data/examples/smoking-cessation.json
  javascript/client/src/components/ErrorMessage/ErrorMessage.tsx
  javascript/client/src/components/ErrorMessage/ShortenMessage.tsx
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/useIsMicrodata.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectsPage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/InfoMessage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/RunHistoryList.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/InfoMessage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/hooks.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/index.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useMicrodataInfoMessage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useAddVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useDefinitionDropdownOptions.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnSelectVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
  javascript/types/src/experiments/CommandActionType.ts
Due: essex prettify --staged

remove causedBypages, remove settings options and set as done/todo button on pages
  javascript/acceptance-tests/pw-tests/define-factors.spec.ts
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/components/AppHeader/AppHeader.tsx
  javascript/client/src/components/AppHeader/Settings.tsx
  javascript/client/src/components/CausalEffects/CausalEffects.tsx
  javascript/client/src/components/GeneralSteps/StepControls.tsx
  javascript/client/src/data/stepsList.ts
  javascript/client/src/hooks/__tests__/causalEffects.spec.ts
  javascript/client/src/hooks/__tests__/causalFactors.spec.ts
  javascript/client/src/hooks/causalEffects.ts
  javascript/client/src/hooks/causalFactors.ts
  javascript/client/src/markdown/model-causal-factors/CausedByExposure.md
  javascript/client/src/markdown/model-causal-factors/CausedByOutcome.md
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/DefineFactorsPage.tsx
  javascript/client/src/types/pages/PageType.ts
  javascript/types/src/causality/CausalFactorType.ts
Due: essex prettify --staged, essex lint --fix --staged

remove causedBypages, remove settings options and set as done/todo button on pages (#120)
  javascript/acceptance-tests/pw-tests/define-factors.spec.ts
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/components/AppHeader/AppHeader.tsx
  javascript/client/src/components/AppHeader/Settings.tsx
  javascript/client/src/components/CausalEffects/CausalEffects.tsx
  javascript/client/src/components/GeneralSteps/StepControls.tsx
  javascript/client/src/data/stepsList.ts
  javascript/client/src/hooks/__tests__/causalEffects.spec.ts
  javascript/client/src/hooks/__tests__/causalFactors.spec.ts
  javascript/client/src/hooks/causalEffects.ts
  javascript/client/src/hooks/causalFactors.ts
  javascript/client/src/markdown/model-causal-factors/CausedByExposure.md
  javascript/client/src/markdown/model-causal-factors/CausedByOutcome.md
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/DefineFactorsPage.tsx
  javascript/client/src/types/pages/PageType.ts
  javascript/types/src/causality/CausalFactorType.ts
Due: essex prettify --staged, essex lint --fix --staged

fixed hypothesis bug
  javascript/client/package.json
  javascript/client/src/pages/DefineQuestion/DescribeElementsPage/DescribeElementsPage.tsx
  yarn.lock
Due: essex prettify --staged

renamed step interface
  javascript/client/src/components/App/hooks/useProcessStepInfo.ts
  javascript/client/src/components/GeneralSteps/StepControls.tsx
  javascript/client/src/components/GeneralSteps/StepItem.tsx
  javascript/client/src/components/Guidance/Guidance.tsx
  javascript/client/src/hooks/__tests__/useMarkdown.spec.ts
  javascript/client/src/hooks/steps.ts
  javascript/client/src/hooks/useMarkdown.ts
  javascript/client/src/types/workflow/StepList.ts
  javascript/client/src/types/workflow/WorkflowStep.ts
  javascript/client/src/types/workflow/index.ts
Due: essex lint --fix --staged

fix imports
  javascript/client/src/components/App/hooks/useProcessStepInfo.ts
  javascript/client/src/components/App/hooks/useProcessStepStatus.ts
  javascript/client/src/components/GeneralSteps/StepItem.tsx
  javascript/client/src/components/GeneralSteps/StepStatusDetail.tsx
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/useProcessStepStatus.ts
Due: none

add spacing
  javascript/client/src/components/App/hooks/useProcessStepInfo.ts
Due: none

change todo/done to icon buttons (#122)
  javascript/client/src/components/App/hooks/useProcessStepInfo.ts
  javascript/client/src/components/App/hooks/useProcessStepStatus.ts
  javascript/client/src/components/GeneralSteps/StepItem.tsx
  javascript/client/src/components/GeneralSteps/StepStatusDetail.tsx
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/useProcessStepStatus.ts
Due: none

fix uuid problem to create run history after upload files
  javascript/client/src/hooks/saveProject.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/hooks.ts
  javascript/client/src/utils/api.ts
Due: none

fix uuid problem to create run history after upload files (#123)
  javascript/client/src/hooks/saveProject.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/hooks.ts
  javascript/client/src/utils/api.ts
Due: none

add tabbed effectGraphs with population and outcome
  javascript/client/src/components/TabbedScatterplot/TabbedScatterplot.tsx
  javascript/client/src/components/TabbedScatterplot/index.ts
  javascript/client/src/hooks/window.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/ResultsGraph.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/hooks/hooks.ts
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/EffectScatterplot.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/VegaSpecificationCurve.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/scatter-plot.json
  javascript/client/src/types/visualization/Specification.ts
Due: essex prettify --staged

fix lind and map
  javascript/client/src/components/TabbedScatterplot/TabbedScatterplot.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/VegaSpecificationCurve.tsx
Due: none

change naming
  javascript/client/src/components/PivotScatterplot/PivotScatterplot.tsx
  javascript/client/src/components/PivotScatterplot/index.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/ResultsGraph.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/VegaSpecificationCurve.tsx
Due: none

fix step name margin and add population size to specification details text
  javascript/client/src/components/GeneralSteps/StepItem.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/ConfidenceIntervalDetails.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/EstimateDetails.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/EstimatedEffectOptions.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/SpecificationDescription.tsx
Due: none

add new graph with pivot with population and outcome (#124)
  javascript/client/src/components/GeneralSteps/StepItem.tsx
  javascript/client/src/components/PivotScatterplot/PivotScatterplot.tsx
  javascript/client/src/components/PivotScatterplot/index.ts
  javascript/client/src/hooks/window.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/ResultsGraph.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/ConfidenceIntervalDetails.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/EstimateDetails.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/EstimatedEffectOptions.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/SpecificationDescription.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/hooks/hooks.ts
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/EffectScatterplot.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/VegaSpecificationCurve.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/scatter-plot.json
  javascript/client/src/types/visualization/Specification.ts
Due: essex prettify --staged

removed define x pages
  javascript/client/src/components/App/Routes.tsx
  javascript/client/src/data/stepsList.ts
  javascript/client/src/pages/ModelDomain/DefineModelDomainPage/DefineModelDomainPage.tsx
  javascript/client/src/pages/ModelDomain/DefineModelDomainPage/hooks/add.ts
  javascript/client/src/pages/ModelDomain/DefineModelDomainPage/hooks/edit.ts
  javascript/client/src/pages/ModelDomain/DefineModelDomainPage/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/DefineModelDomainPage/hooks/index.ts
  javascript/client/src/pages/ModelDomain/DefineModelDomainPage/hooks/remove.ts
  javascript/client/src/pages/ModelDomain/DefineModelDomainPage/hooks/save.ts
  javascript/client/src/pages/ModelDomain/DefineModelDomainPage/index.ts
Due: none

defineQuestion - Experiment type refactor
  javascript/client/public/data/examples/covid-19.json
  javascript/client/public/data/examples/smoking-cessation.json
  javascript/client/src/components/FactorsDefinitionForm/FactorsDefinitionForm.tsx
  javascript/client/src/components/FactorsDefinitionForm/hooks.tsx
  javascript/client/src/components/FactorsDefinitionForm/variables.tsx
  javascript/client/src/components/Tables/TableComponent/TableComponent.tsx
  javascript/client/src/components/Tables/TableComponent/hooks.tsx
  javascript/client/src/hooks/loadProject.ts
  javascript/client/src/hooks/modelVariable.ts
  javascript/client/src/hooks/nodeProperties.ts
  javascript/client/src/hooks/nodes.ts
  javascript/client/src/hooks/specificationCurve.ts
  javascript/client/src/hooks/useAllColumns.ts
  javascript/client/src/hooks/useAllVariables.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/add.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/edit.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/remove.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/save.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/updateDefinitions.ts
  javascript/client/src/pages/ModelDomain/ConsiderCausalFactorsPage/ConsiderCausalFactorsPage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectsPage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/SpecificationsList.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useAddVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useDefinitionDropdownOptions.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnResetVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useSetTargetDefinition.ts
  javascript/client/src/utils/definition.ts
  javascript/types/src/experiments/Element.ts
  javascript/types/src/experiments/ElementDefinition.ts
  javascript/types/src/experiments/Experiment.ts
Due: essex prettify --staged

add significance test results to zip file to load
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/loadProject.ts
  javascript/client/src/hooks/resetProject.ts
  javascript/client/src/hooks/runConfidenceInterval.ts
  javascript/client/src/hooks/saveProject.ts
  javascript/client/src/hooks/significanceTest.ts
  javascript/client/src/hooks/specificationCurve.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/PageButtons.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/SignificanceTests.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks.ts
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/VegaSpecificationCurve.tsx
  javascript/client/src/state/significanceTests.ts
  javascript/client/src/types/files/ZipData.ts
  javascript/client/src/utils/files.ts
Due: none

ui fixes, edit form fixes
  javascript/client/src/components/FactorsDefinitionForm/FactorsDefinitionForm.tsx
  javascript/client/src/components/FactorsDefinitionForm/hooks.tsx
  javascript/client/src/components/FactorsDefinitionForm/variables.tsx
  javascript/client/src/components/Tables/TableComponent/hooks.tsx
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/hooks.ts
Due: none

reset fix, lint fixes
  javascript/client/src/components/FactorsDefinitionForm/hooks.tsx
  javascript/client/src/components/FactorsDefinitionForm/variables.tsx
  javascript/client/src/components/Tables/TableComponent/hooks.tsx
Due: none

fix running significance test after error run
  javascript/api-client/src/Orchestrator/orchestratorFactory.ts
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/hooks/significanceTest.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/PageButtons.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks.ts
Due: none

build fixes
  javascript/client/src/components/FactorsDefinitionForm/FactorsDefinitionForm.tsx
  javascript/client/src/components/FactorsDefinitionForm/hooks.tsx
  javascript/client/src/components/FactorsDefinitionForm/variables.tsx
  javascript/client/src/components/Tables/TableComponent/TableComponent.tsx
  javascript/client/src/components/Tables/TableComponent/hooks.tsx
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/ConsiderCausalFactorsPage/ConsiderCausalFactorsPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderCausalFactorsPage/hooks.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/ResultsGraph.tsx
Due: none

fix button shown
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/PageButtons.tsx
Due: none

add significance test results to zip file to load (#125)
  javascript/api-client/src/Orchestrator/orchestratorFactory.ts
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/loadProject.ts
  javascript/client/src/hooks/resetProject.ts
  javascript/client/src/hooks/runConfidenceInterval.ts
  javascript/client/src/hooks/saveProject.ts
  javascript/client/src/hooks/significanceTest.ts
  javascript/client/src/hooks/specificationCurve.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/PageButtons.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/SignificanceTests.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks.ts
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/vega/VegaSpecificationCurve.tsx
  javascript/client/src/state/significanceTests.ts
  javascript/client/src/types/files/ZipData.ts
  javascript/client/src/utils/files.ts
Due: none

acceptance tests fixed
  javascript/acceptance-tests/files/COVID-19.zip
  javascript/acceptance-tests/files/Smoking Cessation.zip
  javascript/acceptance-tests/package.json
  javascript/acceptance-tests/pageObjects/DefineModelPage.ts
  javascript/acceptance-tests/pageObjects/ModelCausalFactorsPage.ts
  javascript/acceptance-tests/pageObjects/index.ts
  javascript/acceptance-tests/pw-tests/define-factors.spec.ts
  javascript/acceptance-tests/pw-tests/define-model.spec.ts
  javascript/acceptance-tests/pw-tests/describe-elements.spec.ts
  javascript/acceptance-tests/pw-tests/model-causal-factors.spec.ts
  javascript/client/src/components/FactorsDefinitionForm/variables.tsx
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.tsx
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

add auto step for load data
  javascript/client/src/components/App/hooks/useProcessStepStatus.ts
  javascript/client/src/components/GeneralSteps/StepItem.tsx
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/useAutomaticWorkflowStatus.ts
  javascript/client/src/hooks/useWorkflowStepStatus.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.tsx
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/hooks.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useDefaultSelectedFile.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useHandleLoadFile.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useOnConfirmDelete.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useToggleAutoType.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useToggleLoadedCorrectly.ts
Due: none

separate tables per tab
  javascript/client/src/components/FactorsDefinitionForm/FactorsDefinitionForm.tsx
  javascript/client/src/components/FactorsDefinitionForm/hooks.tsx
  javascript/client/src/components/FactorsDefinitionForm/variables.tsx
  javascript/client/src/components/Tables/TableComponent/TableComponent.tsx
  javascript/client/src/components/Tables/TableComponent/hooks.tsx
  javascript/client/src/data/stepsList.ts
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/useAddOnLeavePage.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/add.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/edit.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/remove.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/save.ts
  javascript/client/src/pages/ModelDomain/ConsiderCausalFactorsPage/ConsiderCausalFactorsPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderCausalFactorsPage/hooks.ts
  javascript/client/src/types/pages/Pages.ts
Due: none

fix backend
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnSelectVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useSetTargetCausalFactor.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useSetTargetDefinition.ts
  javascript/client/src/utils/files.ts
  python/showwhy-inference/showwhy_inference/inference.py
Due: none

update guidance with Darren
  javascript/client/src/components/GeneralSteps/StepItem.tsx
  javascript/client/src/data/stepsList.ts
  javascript/client/src/markdown/define-question/Elements.md
  javascript/client/src/markdown/define-question/Population.md
  javascript/client/src/markdown/model-causal-factors/ConfirmAlternativeModels.md
  javascript/client/src/markdown/model-causal-factors/ConsiderCausalFactors.md
  javascript/client/src/markdown/prepare-data/Load.md
  javascript/client/src/markdown/prepare-data/Process.md
  javascript/client/src/pages/ModelDomain/ConfirmAlternativeModelsPage/ConfirmAlternativeModelsPage.tsx
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.tsx
Due: essex prettify --staged

Path conditions:
  essex prettify --staged: any of: *.{json,md}
  essex lint --fix --staged: any of: javascript/**/*.*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}
  bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)": any of: python/showwhy-backend/**/*.py
  bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)": any of: python/showwhy-backend/**/*.py
  bash -c "(cd python/showwhy-inference && poetry run isort ./showwhy_inference)": any of: python/showwhy-interface/**/*.py
  bash -c "(cd python/showwhy-inference && poetry run black ./showwhy_inference)": any of: python/showwhy-interface/**/*.py
