Repository microsoft/showwhy: changes, and which lint-staged commands are due for each by the changed paths.
All: essex prettify --staged, essex lint --fix --staged, bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)", bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)", bash -c "(cd python/showwhy-inference && poetry run isort ./showwhy_inference)", bash -c "(cd python/showwhy-inference && poetry run black ./showwhy_inference)"

fix number order on graph with multiple outcomes (#172)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  javascript/webapp/src/utils/__tests__/specificationCurveManagement.spec.ts
  javascript/webapp/src/utils/specificationCurveManagement.ts
Due: essex lint --fix --staged

fix github dependabot request
  yarn.lock
Due: none

fix github dependabot request (#173)
  yarn.lock
Due: none

fix dependabot async
  yarn.lock
Due: none

fix dependabot async (#174)
  yarn.lock
Due: none

column data type validation
  javascript/webapp/src/hooks/index.ts
  javascript/webapp/src/hooks/validateColumnDataTypes.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/ErrorMessages.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/DataTypeWarningMessage.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/DeriveDataVariablesPage.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/assertDataType.ts
Due: none

lint fixes, files reorganizing
  javascript/webapp/src/hooks/validateColumnDataTypes.ts
  javascript/webapp/src/pages/ModelDomain/DefineCausalQuestion/HypothesisGroup.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/DeriveDataVariablesPage.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/DataTypeWarningMessage.tsx
  javascript/webapp/src/utils/assertDataType.ts
  javascript/webapp/src/utils/index.ts
Due: none

removed unused files and moved files used only by one repo
  javascript/api-client/src/FetchApiInteractor.ts
  javascript/api-client/src/FetchApiInteractor.types.ts
  javascript/types/src/api/index.ts
  javascript/types/src/estimators/EstimatorConfiguration.ts
  javascript/types/src/estimators/index.ts
  javascript/types/src/experiments/index.ts
  javascript/types/src/index.ts
  javascript/types/src/question/Element.ts
  javascript/types/src/question/Hypothesis.ts
  javascript/types/src/question/Question.ts
  javascript/types/src/question/index.ts
  javascript/types/src/workspace/DataTableDefinition.ts
  javascript/types/src/workspace/DataTableMetadata.ts
  javascript/types/src/workspace/index.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/DeriveDataVariablesPage.types.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useDefinitionDropdownOptions.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useRenderDropdownOption.tsx
  javascript/webapp/tsconfig.json
Due: essex prettify --staged, essex lint --fix --staged

removed unused files and moved files used only by one repo (#176)
  javascript/api-client/src/FetchApiInteractor.ts
  javascript/api-client/src/FetchApiInteractor.types.ts
  javascript/types/src/api/index.ts
  javascript/types/src/estimators/EstimatorConfiguration.ts
  javascript/types/src/estimators/index.ts
  javascript/types/src/experiments/index.ts
  javascript/types/src/index.ts
  javascript/types/src/question/Element.ts
  javascript/types/src/question/Hypothesis.ts
  javascript/types/src/question/Question.ts
  javascript/types/src/question/index.ts
  javascript/types/src/workspace/DataTableDefinition.ts
  javascript/types/src/workspace/DataTableMetadata.ts
  javascript/types/src/workspace/index.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/DeriveDataVariablesPage.types.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useDefinitionDropdownOptions.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useRenderDropdownOption.tsx
  javascript/webapp/tsconfig.json
Due: essex prettify --staged, essex lint --fix --staged

update columnar menu
  javascript/components/package.json
  javascript/webapp/package.json
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useRenderDropdownOption.tsx
  yarn.lock
Due: essex prettify --staged

update columnar menu (#177)
  javascript/components/package.json
  javascript/webapp/package.json
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useRenderDropdownOption.tsx
  yarn.lock
Due: essex prettify --staged

covariate_balance
  python/Dockerfile
  python/showwhy-backend/poetry.lock
  python/showwhy-backend/pyproject.toml
  python/showwhy-backend/showwhy_backend/CheckInferenceStatus/__init__.py
  python/showwhy-backend/showwhy_backend/InferenceExecuteActivity/__init__.py
  python/showwhy-inference/poetry.lock
  python/showwhy-inference/pyproject.toml
  python/showwhy-inference/showwhy_inference/inference.py
Due: bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)", bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)"

Update docker compose
  docker-compose.yml
Due: none

move covariate balance calculation to another file
  python/showwhy-inference/showwhy_inference/covariate_balance.py
  python/showwhy-inference/showwhy_inference/inference.py
Due: none

Remove broken github action [not needed for now]
  .github/workflows/showwhy_inference.yml
Due: none

Covariate balance (#178)
  .github/workflows/showwhy_inference.yml
  docker-compose.yml
  python/Dockerfile
  python/showwhy-backend/poetry.lock
  python/showwhy-backend/pyproject.toml
  python/showwhy-backend/showwhy_backend/CheckInferenceStatus/__init__.py
  python/showwhy-backend/showwhy_backend/InferenceExecuteActivity/__init__.py
  python/showwhy-inference/poetry.lock
  python/showwhy-inference/pyproject.toml
  python/showwhy-inference/showwhy_inference/covariate_balance.py
  python/showwhy-inference/showwhy_inference/inference.py
Due: bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)", bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)"

Fix covariate balance
  python/showwhy-inference/showwhy_inference/covariate_balance.py
Due: none

Fix covariate balance (#179)
  python/showwhy-inference/showwhy_inference/covariate_balance.py
Due: none

updated dwc packages
  javascript/components/package.json
  javascript/types/package.json
  javascript/types/src/workspace/Workspace.ts
  javascript/webapp/package.json
  javascript/webapp/src/hooks/loadProject.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/components/DropzoneContainer.tsx
  javascript/webapp/src/state/tablesPrepSpecification.ts
  yarn.lock
Due: essex prettify --staged

prepareData, loadProject
  javascript/webapp/package.json
  javascript/webapp/src/hooks/loadProject.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/PrepareData.tsx
  javascript/webapp/src/state/index.ts
  javascript/webapp/src/state/outputTablePrep.ts
  javascript/webapp/src/state/workflow.ts
  javascript/webapp/src/utils/arquero.ts
  yarn.lock
Due: essex prettify --staged

fix project load
  javascript/types/src/workspace/Workspace.ts
  javascript/webapp/public/data/examples/covid-19.json
  javascript/webapp/public/data/examples/smoking-cessation.json
  javascript/webapp/src/hooks/loadProject.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/PrepareData.tsx
  javascript/webapp/src/utils/arquero.ts
Due: essex prettify --staged

lint fix, auto select table fix
  javascript/webapp/src/hooks/loadProject.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/PrepareData.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useFileManagement.ts
  javascript/webapp/src/utils/arquero.ts
Due: none

replaced outputTablePrep state with new output hook
  javascript/webapp/src/components/App/hooks/useResetProject.ts
  javascript/webapp/src/components/App/hooks/useSaveProject.ts
  javascript/webapp/src/hooks/nodeProperties.ts
  javascript/webapp/src/hooks/validateColumnDataTypes.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useUploadFile.ts
  javascript/webapp/src/pages/PrepareData/ConfirmDataPage/ConfirmDataPage.hooks.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/CompletedElements.tsx
  javascript/webapp/src/state/index.ts
  javascript/webapp/src/state/outputTable.ts
Due: essex lint --fix --staged

added missing reset hooks
  javascript/webapp/src/components/App/hooks/useResetProject.ts
Due: none

fixed typo
  README.md
Due: essex prettify --staged

updated covid json, fixed saveProject, prepareData experiments
  javascript/components/package.json
  javascript/types/src/workspace/Workspace.ts
  javascript/webapp/package.json
  javascript/webapp/public/data/examples/covid-19.json
  javascript/webapp/src/components/App/hooks/useSaveProject.ts
  javascript/webapp/src/components/App/hooks/useUploadZipMenuOption.ts
  javascript/webapp/src/hooks/loadProject.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/PrepareData.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/components/DropzoneContainer.tsx
  javascript/webapp/src/state/tablesPrepSpecification.ts
  yarn.lock
Due: essex prettify --staged

updated example json and readme
  README.md
  javascript/webapp/public/data/examples/smoking-cessation.json
Due: essex prettify --staged

lint fix
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/PrepareData.tsx
Due: none

yarn lock updated
  yarn.lock
Due: none

updated pkg version
  javascript/types/package.json
  yarn.lock
Due: essex prettify --staged

add covariate imbalance threshold and validation on graph
  javascript/types/src/refutation/RefutationResultString.ts
  javascript/types/src/runs/RunHistory.ts
  javascript/types/src/visualization/CovariateBalance.ts
  javascript/types/src/visualization/Specification.ts
  javascript/webapp/src/hooks/runHistory.ts
  javascript/webapp/src/hooks/specificationCurveManagement.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/components/CovariateBalanceDetails.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/components/SpecificationDescription.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useSpecificationCurve.ts
  javascript/webapp/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/SelectCausalEstimatorsPage.constants.ts
  javascript/webapp/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/SelectCausalEstimatorsPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/useOnConfounderThresholdChange.ts
  javascript/webapp/src/state/confounderThreshold.ts
  javascript/webapp/src/state/covariateProportionThreshold.ts
  javascript/webapp/src/state/index.ts
  javascript/webapp/src/utils/specificationCurveManagement.ts
Due: essex lint --fix --staged

fixed loading bug, updated dwc packages
  javascript/components/package.json
  javascript/types/package.json
  javascript/webapp/package.json
  javascript/webapp/src/hooks/loadProject.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitions.state.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/PrepareData.tsx
  javascript/webapp/src/state/workflow.ts
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

update readme with M1 info
  README.md
Due: essex prettify --staged

update readme with M1 info (#183)
  README.md
Due: essex prettify --staged

order yAxis on graph
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/dot-plot.json
Due: essex prettify --staged

order yAxis on graph (#184)
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/dot-plot.json
Due: essex prettify --staged

setting output from pre-processed tables
  javascript/webapp/src/hooks/loadProject.ts
Due: none

fixed lint error
  javascript/webapp/src/hooks/loadProject.ts
Due: none

fix test
  javascript/webapp/src/utils/__tests__/specificationCurveManagement.spec.ts
Due: essex lint --fix --staged

fix acc test
  javascript/acceptance-tests/files/COVID-19.zip
  javascript/acceptance-tests/pageObjects/EstimateCausalEffectPO.ts
  javascript/acceptance-tests/pw-tests/estimate-causal-effect.spec.ts
Due: essex lint --fix --staged

Path conditions:
  essex prettify --staged: any of: *.{json,md}
  essex lint --fix --staged: any of: javascript/**/*.*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}
  bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)": any of: python/showwhy-backend/**/*.py
  bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)": any of: python/showwhy-backend/**/*.py
  bash -c "(cd python/showwhy-inference && poetry run isort ./showwhy_inference)": any of: python/showwhy-interface/**/*.py
  bash -c "(cd python/showwhy-inference && poetry run black ./showwhy_inference)": any of: python/showwhy-interface/**/*.py
