Repository microsoft/showwhy: changes, and which lint-staged commands are due for each by the changed paths.
All: essex prettify --staged, essex lint --fix --staged, bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)", bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)", bash -c "(cd python/showwhy-inference && poetry run isort ./showwhy_inference)", bash -c "(cd python/showwhy-inference && poetry run black ./showwhy_inference)"

.lintstagedrc.json:

{
	"*.{json,md}": ["essex prettify --staged"],
	"javascript/**/*.*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": [
		"essex lint --fix --staged"
	],
	"python/showwhy-backend/**/*.py": [
		"bash -c \"(cd python/showwhy-backend && poetry run isort ./showwhy_backend)\"",
		"bash -c \"(cd python/showwhy-backend && poetry run black ./showwhy_backend)\""
	],
	"python/showwhy-interface/**/*.py": [
		"bash -c \"(cd python/showwhy-inference && poetry run isort ./showwhy_inference)\"",
		"bash -c \"(cd python/showwhy-inference && poetry run black ./showwhy_inference)\""
	]
}

auto type on by default
  javascript/client/src/hooks/loadProject.ts
Due: none

guidance scroll fix on large pages
  javascript/client/src/components/Guidance/Guidance.tsx
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.tsx
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/index.ts
Due: none

clear log
  javascript/client/src/components/Guidance/Guidance.tsx
Due: none

auto type on for all tables
  javascript/client/src/hooks/loadProject.ts
Due: none

fix refutation type
  javascript/acceptance-tests/pageObjects/SelectCausalEstimatorsPage.ts
  javascript/acceptance-tests/pw-tests/select-causal-estimators.spec.ts
  javascript/client/public/data/examples/covid-19.json
  javascript/client/public/data/examples/smoking-cessation.json
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/hooks.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks.ts
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/SelectCausalEstimatorsPage.tsx
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/hooks.ts
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/refutations.ts
  javascript/client/src/state/__tests__/refutationTests.spec.ts
  javascript/client/src/types/files/Workspace.ts
  javascript/client/src/types/runs/RunHistory.ts
  javascript/client/src/utils/api.ts
  javascript/types/src/refutation/RefutationType.ts
  javascript/types/src/refutation/index.ts
Due: essex prettify --staged, essex lint --fix --staged

scroll fix
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/components/Guidance/Guidance.tsx
Due: none

fix evaluate hypothesis age
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/AnalysisSummary.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/ResultsGraph.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/SignificanceTests.tsx
Due: none

fix acc test
  javascript/acceptance-tests/pageObjects/SelectCausalEstimatorsPage.ts
Due: none

acc tests
  javascript/acceptance-tests/pageObjects/SelectCausalEstimatorsPage.ts
Due: none

fix acc tests
  javascript/acceptance-tests/pageObjects/SelectCausalEstimatorsPage.ts
  javascript/acceptance-tests/pw-tests/select-causal-estimators.spec.ts
Due: essex lint --fix --staged

added tabs navigation when next step is clicked
  javascript/client/src/components/GeneralSteps/StepControls.tsx
  javascript/client/src/components/Guidance/Guidance.tsx
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/navigation.ts
  javascript/client/src/hooks/tabsNavigation.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/hooks.ts
  javascript/client/src/state/definitionType.ts
  javascript/client/src/state/index.ts
Due: none

updated dwc
  javascript/client/package.json
  yarn.lock
Due: essex prettify --staged

fix texts
  javascript/client/src/components/Callout/LinkCallout.tsx
  javascript/client/src/components/EmptyDataPageWarning/EmptyDataPageWarning.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/AnalysisSummary.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/SignificanceTests.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks.ts
Due: none

fix pyhon
  python/showwhy-inference/showwhy_inference/inference.py
Due: none

fixes in evaluate hypothesis page and significance tests on python (#139)
  javascript/client/src/components/Callout/LinkCallout.tsx
  javascript/client/src/components/EmptyDataPageWarning/EmptyDataPageWarning.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/AnalysisSummary.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/SignificanceTests.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks.ts
  python/showwhy-inference/showwhy_inference/inference.py
Due: none

change refutation from type to number (#136)
  javascript/acceptance-tests/pageObjects/SelectCausalEstimatorsPage.ts
  javascript/acceptance-tests/pw-tests/select-causal-estimators.spec.ts
  javascript/builders/src/buildRefutationSpecs.ts
  javascript/client/public/data/examples/covid-19.json
  javascript/client/public/data/examples/smoking-cessation.json
  javascript/client/src/hooks/loadProject.ts
  javascript/client/src/hooks/nodeProperties.ts
  javascript/client/src/hooks/nodes.ts
  javascript/client/src/hooks/refutation.ts
  javascript/client/src/hooks/resetProject.ts
  javascript/client/src/hooks/saveProject.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/hooks.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks.ts
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/SelectCausalEstimatorsPage.tsx
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/hooks.ts
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/refutations.ts
  javascript/client/src/state/__tests__/refutationTests.spec.ts
  javascript/client/src/state/index.ts
  javascript/client/src/state/refutationCount.ts
  javascript/client/src/state/refutationTests.ts
  javascript/client/src/types/files/Workspace.ts
  javascript/client/src/types/runs/RunHistory.ts
  javascript/client/src/utils/api.ts
  javascript/types/src/refutation/RefutationType.ts
  javascript/types/src/refutation/index.ts
Due: essex prettify --staged, essex lint --fix --staged

add exception logging in python
  python/showwhy-inference/showwhy_inference/significance_test.py
Due: none

fix dowhy variable and enable codeql on yml
  .vsts-ci.yml
  python/.vsts-ci.yml
  python/showwhy-inference/showwhy_inference/significance_test.py
Due: none

fix dowhy variable and enable codeql on yml (#140)
  .vsts-ci.yml
  python/.vsts-ci.yml
  python/showwhy-inference/showwhy_inference/significance_test.py
Due: none

completed merge of factors causing x pages
  javascript/client/public/data/examples/covid-19.json
  javascript/client/public/data/examples/smoking-cessation.json
  javascript/client/src/data/stepsList.ts
  javascript/client/src/hooks/causalFactors.ts
  javascript/client/src/hooks/useDegreeComboBox.tsx
  javascript/client/src/pages/ModelDomain/ConsiderCausalFactorsPage/ConsiderCausalFactorsPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderCausalFactorsPage/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/DefineFactorsPage.tsx
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/FactorsTable/FactorsTable.tsx
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/FactorsTable/hooks/factors.ts
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/FactorsTable/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/FactorsTable/hooks/onChange.ts
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/hooks/useSetPageDone.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/AddVariableFields.tsx
  javascript/client/src/types/pages/Pages.ts
  javascript/types/src/causality/Cause.ts
  javascript/types/src/causality/FlatCausalFactor.ts
  javascript/types/src/experiments/DefinitionType.ts
Due: essex prettify --staged

modified factors unit tests
  javascript/client/src/hooks/__tests__/causalFactors.spec.ts
Due: essex lint --fix --staged

fixed acceptance test for causal factors
  javascript/acceptance-tests/pageObjects/DefineFactorsPage.ts
  javascript/acceptance-tests/pageObjects/ModelCausalFactorsPage.ts
  javascript/acceptance-tests/pw-tests/define-factors.spec.ts
  javascript/client/src/hooks/useDegreeComboBox.tsx
Due: essex lint --fix --staged

lint fixes
  javascript/client/src/data/stepsList.ts
  javascript/client/src/hooks/__tests__/causalFactors.spec.ts
  javascript/client/src/hooks/causalFactors.ts
  javascript/client/src/pages/ModelDomain/ConsiderCausalFactorsPage/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/FactorsTable/hooks/factors.ts
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/FactorsTable/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/FactorsTable/hooks/onChange.ts
  javascript/client/src/pages/ModelDomain/DefineFactorsPage/hooks/useSetPageDone.ts
Due: essex lint --fix --staged

build fixes, cleanup
  javascript/client/src/data/stepsList.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/AddVariableFields.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useAddVariable.ts
  javascript/types/src/causality/FlatCausalFactor.ts
Due: none

updated smoking zip example
  javascript/acceptance-tests/files/Smoking Cessation.zip
Due: none

lint fix
  javascript/client/src/pages/PrepareData/ProcessDataPage/AddVariableFields.tsx
Due: none

refactor prepare data
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/components/App/Routes.tsx
  javascript/client/src/data/stepsList.ts
  javascript/client/src/markdown/prepare-data/ControlVariables.md
  javascript/client/src/markdown/prepare-data/DeriveDataVariables.md
  javascript/client/src/markdown/prepare-data/ExposureVariables.md
  javascript/client/src/markdown/prepare-data/OutcomeVariables.md
  javascript/client/src/markdown/prepare-data/PopulationVariables.md
  javascript/client/src/markdown/prepare-data/Prepare.md
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/AddVariableFields.tsx
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/CompletedElements.tsx
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/DeriveDataVariablesPage.tsx
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks.tsx
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/index.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useAddVariable.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useCommandBar.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useDefinitionDropdownOptions.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnResetVariable.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnSelectVariable.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnSetSubjectIdentifier.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnUpdateTables.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useRenderDropdownOption.tsx
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useSelectedOption.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useSetTargetCausalFactor.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useSetTargetDefinition.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useTables.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useViewTable.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/index.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
  javascript/client/src/types/pages/Pages.ts
Due: essex prettify --staged

refactor perform analysis
  javascript/client/src/components/App/Routes.tsx
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/useMicrodataInfoMessage.tsx
  javascript/client/src/hooks/useSubjectIdentifierMissingMessage.tsx
  javascript/client/src/hooks/useVariablesMissingMessage.tsx
  javascript/client/src/markdown/perform-analysis/CausalEffects.md
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectsPage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/RunHistoryList.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/SpecificationsList.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/index.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useMicrodataInfoMessage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/index.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/ExploreSpecificationCurvePage.tsx
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/hooks/index.ts
  javascript/client/src/pages/PerformAnalysis/ExploreSpecificationCurvePage/hooks/useEstimateLogic.ts
  javascript/client/src/types/pages/Pages.ts
Due: essex prettify --staged

rename test pages
  javascript/acceptance-tests/pageObjects/ConsiderAlternativeDefinitionsPO.ts
  javascript/acceptance-tests/pageObjects/ConsiderRelevantVariablesPO.ts
  javascript/acceptance-tests/pageObjects/ConsiderVariableRelationshipsPO.ts
  javascript/acceptance-tests/pageObjects/EstimateCausalEffectsPage.ts
  javascript/acceptance-tests/pageObjects/ExploreSpecificationCurvePage.ts
  javascript/acceptance-tests/pageObjects/index.ts
  javascript/acceptance-tests/pageObjects/modelCausalQuestionPO.ts
  javascript/acceptance-tests/pw-tests/estimate-causal-effects.spec.ts
  javascript/client/src/hooks/__tests__/steps.spec.ts
Due: essex lint --fix --staged

fix tests
  javascript/acceptance-tests/pageObjects/DefineCausalQuestionPO.ts
  javascript/acceptance-tests/pageObjects/ExploreSpecificationCurvePage.ts
  javascript/acceptance-tests/pageObjects/index.ts
  javascript/acceptance-tests/pw-tests/consider-alternative-definitions.spec.ts
  javascript/acceptance-tests/pw-tests/consider-variable-relationships.spec.ts
  javascript/acceptance-tests/pw-tests/define-causal-question.spec.ts
  javascript/acceptance-tests/pw-tests/model-causal-factors.spec.ts
Due: essex lint --fix --staged

fix navigation
  javascript/client/public/data/examples/covid-19.json
  javascript/client/public/data/examples/smoking-cessation.json
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/hooks/navigation.ts
  javascript/client/src/types/pages/Pages.ts
Due: essex prettify --staged

fix tests
  javascript/acceptance-tests/pageObjects/index.ts
  javascript/acceptance-tests/pw-tests/consider-alternative-definitions.spec.ts
  javascript/acceptance-tests/pw-tests/consider-variable-relationships.spec.ts
  javascript/acceptance-tests/pw-tests/define-causal-question.spec.ts
  javascript/acceptance-tests/pw-tests/estimate-causal-effect.spec.ts
  javascript/acceptance-tests/pw-tests/evaluate-hypothesis.spec.ts
Due: essex lint --fix --staged

refactor hooks
  javascript/client/src/pages/ModelDomain/ConfirmDomainModelsPage/ConfirmDomainModelsPage.hooks.ts
  javascript/client/src/pages/ModelDomain/ConfirmDomainModelsPage/ConfirmDomainModelsPage.tsx
  javascript/client/src/pages/ModelDomain/ConfirmDomainModelsPage/hooks/useBusinessLogic.ts
  javascript/client/src/pages/ModelDomain/ConfirmDomainModelsPage/hooks/useSetPageDone.ts
Due: essex lint --fix --staged

refactor hook naming on Model domain
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.hooks.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.utils.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/__tests__/ConsiderAlternativeDefinitionsPage.utils.spec.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useAddDefinition.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useBusinessLogic.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useEditDefinition.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useRemoveDefinition.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useSaveDefinition.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useSetPageDone.ts
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/ConsiderRelevantVariablesPage.hooks.ts
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/ConsiderRelevantVariablesPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/ConsiderRelevantVariablesPage.types.ts
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/hooks/useAddFactor.ts
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/hooks/useBusinessLogic.ts
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/hooks/useDeleteFactor.ts
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/hooks/useEditFactor.ts
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/hooks/useFactorsNavigation.ts
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/hooks/useSetPageDone.ts
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/ConsiderVariableRelationshipsPage.hooks.tsx
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/ConsiderVariableRelationshipsPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/hooks/useBusinessLogic.ts
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/hooks/useSetPageDone.ts
  javascript/client/src/pages/ModelDomain/DefineCausalQuestion/DefineCausalQuestion.hooks.ts
  javascript/client/src/pages/ModelDomain/DefineCausalQuestion/DefineCausalQuestion.tsx
  javascript/client/src/pages/ModelDomain/DefineCausalQuestion/hooks/hooks.ts
  javascript/client/src/pages/ModelDomain/DefineCausalQuestion/hooks/useBusinessLogic.ts
  javascript/client/src/pages/ModelDomain/DefineCausalQuestion/hooks/useOnInputChange.ts
  javascript/client/src/pages/ModelDomain/DefineCausalQuestion/hooks/useSetHypothesis.ts
  javascript/client/src/pages/ModelDomain/DefineCausalQuestion/hooks/useSetPageDone.ts
Due: essex lint --fix --staged

removed unused types
  javascript/client/src/components/CardComponent/CardComponent.types.ts
  javascript/client/src/components/CardComponent/RadioButtonCard.tsx
  javascript/client/src/components/CardComponent/index.ts
  javascript/client/src/components/Tables/GenericTableComponent/GenericTableComponent.hooks.ts
  javascript/client/src/components/Tables/GenericTableComponent/GenericTableComponent.tsx
  javascript/client/src/components/Tables/GenericTableComponent/hooks/useDefaultTableSample.ts
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/loadProject.ts
  javascript/client/src/hooks/resetProject.ts
  javascript/client/src/hooks/tables.ts
  javascript/client/src/hooks/useTableCommands.ts
  javascript/client/src/pages/ModelDomain/ConfirmDomainModelsPage/ConfirmDomainModelsPage.tsx
  javascript/client/src/pages/ModelDomain/ConfirmDomainModelsPage/hooks/useBusinessLogic.ts
  javascript/client/src/state/index.ts
  javascript/client/src/state/tables.ts
  javascript/client/src/types/dataTables/ColumnRelation.ts
  javascript/client/src/types/dataTables/ColumnRelevance.ts
  javascript/client/src/types/dataTables/DataTable.ts
  javascript/client/src/types/dataTables/TableColumn.ts
  javascript/client/src/types/dataTables/TableDerivation.ts
  javascript/client/src/types/dataTables/TableDerivationType.ts
  javascript/client/src/types/dataTables/index.ts
  javascript/client/src/types/files/FileStep.ts
  javascript/client/src/types/files/index.ts
  javascript/client/src/types/index.ts
  javascript/types/src/api/RenameCalloutArgs.ts
  javascript/types/src/experiments/EstimandIdentificationVariables.ts
  javascript/types/src/experiments/ExperimentDefinitions.ts
  javascript/types/src/experiments/VariableDefinition.ts
  javascript/types/src/experiments/index.ts
  javascript/types/src/filters/FilterObject.ts
  javascript/types/src/filters/FilterType.ts
  javascript/types/src/filters/index.ts
  javascript/types/src/index.ts
Due: essex lint --fix --staged
