Repository microsoft/showwhy: changes, and which lint-staged commands are due for each by the changed paths.
All: essex prettify --staged, essex lint --fix --staged, bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)", bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)", bash -c "(cd python/showwhy-inference && poetry run isort ./showwhy_inference)", bash -c "(cd python/showwhy-inference && poetry run black ./showwhy_inference)"

.lintstagedrc.json:

{
	"*.{json,md}": ["essex prettify --staged"],
	"javascript/**/*.*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": [
		"essex lint --fix --staged"
	],
	"python/showwhy-backend/**/*.py": [
		"bash -c \"(cd python/showwhy-backend && poetry run isort ./showwhy_backend)\"",
		"bash -c \"(cd python/showwhy-backend && poetry run black ./showwhy_backend)\""
	],
	"python/showwhy-interface/**/*.py": [
		"bash -c \"(cd python/showwhy-inference && poetry run isort ./showwhy_inference)\"",
		"bash -c \"(cd python/showwhy-inference && poetry run black ./showwhy_inference)\""
	]
}

modified selectors
  javascript/acceptance-tests/pageObjects/ConsiderAlternativeDefinitionsPO.ts
  javascript/acceptance-tests/pageObjects/ConsiderVariableRelationshipsPO.ts
Due: none

fix microdata bug
  javascript/client/src/hooks/__tests__/useIsMicrodata.spec.ts
  javascript/client/src/hooks/useIsMicrodata.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
Due: essex lint --fix --staged

merge with main
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/ConsiderRelevantVariablesPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/ConsiderVariableRelationshipsPage.constants.ts
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/ConsiderVariableRelationshipsPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/FactorsTable.tsx
Due: essex lint --fix --staged

fix test
  javascript/client/src/hooks/causalFactors.ts
Due: none

fix lint
  javascript/client/src/hooks/causalFactors.ts
Due: none

fix test
  javascript/acceptance-tests/pw-tests/consider-variable-relationships.spec.ts
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/ConsiderVariableRelationshipsPage.tsx
Due: essex lint --fix --staged

refactor DefinitionType and CausalFactorType
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/AddVariableFields.tsx
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useAddVariable.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useBusinessLogic.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useDefinitionDropdownOptions.ts
  javascript/client/src/utils/__tests__/definition.spec.ts
  javascript/client/src/utils/definition.ts
  javascript/types/src/causality/CausalFactorType.ts
  javascript/types/src/experiments/DefinitionType.ts
Due: essex lint --fix --staged

extracted definitions from define question
  javascript/acceptance-tests/files/COVID-19.zip
  javascript/acceptance-tests/files/Smoking Cessation.zip
  javascript/client/public/data/examples/covid-19.json
  javascript/client/public/data/examples/smoking-cessation.json
  javascript/client/src/components/App/hooks/useResetProject.ts
  javascript/client/src/components/App/hooks/useSaveProject.ts
  javascript/client/src/hooks/loadProject.ts
  javascript/client/src/hooks/nodeProperties.ts
  javascript/client/src/hooks/useAllVariables.ts
  javascript/client/src/hooks/useFactorsDefinitionForm.tsx
  javascript/client/src/hooks/useSaveDefinition.ts
  javascript/client/src/hooks/useSpecificationCurveManagement.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useAddDefinition.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useBusinessLogic.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useSaveDefinition.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useSetPageDone.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useTableComponent.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useAllColumns.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useUploadFile.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/AnalysisSummary.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/client/src/pages/PrepareData/ConfirmDataPage/ConfirmDataPage.hooks.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useAddVariable.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useBusinessLogic.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useDefinitionDropdownOptions.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnSelectVariable.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useSetTargetDefinition.ts
  javascript/client/src/state/definitions.ts
  javascript/client/src/state/index.ts
  javascript/client/src/types/files/Workspace.ts
  javascript/types/src/experiments/Experiment.ts
Due: essex prettify --staged, essex lint --fix --staged

renamed Experiment to Question
  javascript/acceptance-tests/files/COVID-19.zip
  javascript/acceptance-tests/files/Smoking Cessation.zip
  javascript/client/public/data/examples/covid-19.json
  javascript/client/public/data/examples/smoking-cessation.json
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/components/App/hooks/useResetProject.ts
  javascript/client/src/components/App/hooks/useSaveProject.ts
  javascript/client/src/hooks/__tests__/causalEffects.spec.ts
  javascript/client/src/hooks/causalEffects.ts
  javascript/client/src/hooks/loadProject.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useBusinessLogic.ts
  javascript/client/src/pages/ModelDomain/DefineCausalQuestion/DefineCausalQuestion.tsx
  javascript/client/src/pages/ModelDomain/DefineCausalQuestion/hooks/useBusinessLogic.ts
  javascript/client/src/pages/ModelDomain/DefineCausalQuestion/hooks/useOnInputChange.ts
  javascript/client/src/pages/ModelDomain/DefineCausalQuestion/hooks/useSetHypothesis.ts
  javascript/client/src/pages/ModelDomain/DefineCausalQuestion/hooks/useSetPageDone.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/SignificanceTests.tsx
  javascript/client/src/state/__tests__/question.spec.ts
  javascript/client/src/state/index.ts
  javascript/client/src/state/question.ts
  javascript/client/src/state/selectedFile.ts
  javascript/client/src/types/files/Workspace.ts
  javascript/components/src/AppHeader/AppHeader.tsx
  javascript/components/src/CausalQuestion/CausalQuestion.tsx
  javascript/types/src/experiments/Question.ts
  javascript/types/src/experiments/index.ts
Due: essex prettify --staged, essex lint --fix --staged

lint fix
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useFileManagement.ts
Due: none

lint fix
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.constants.ts
Due: essex lint --fix --staged

types reorder
  javascript/types/package.json
  javascript/types/src/files/DownloadType.ts
  javascript/types/src/files/ProjectFile.ts
  javascript/types/src/files/ZipFileData.ts
  javascript/types/src/files/index.ts
  javascript/types/src/index.ts
  javascript/types/src/workspace/DataTableDefinition.ts
  javascript/types/src/workspace/DataTableMetadata.ts
  javascript/types/src/workspace/DefaultDatasetResult.ts
  javascript/types/src/workspace/FileDefinition.ts
  javascript/types/src/workspace/ProjectSource.ts
  javascript/types/src/workspace/Workspace.ts
  javascript/types/src/workspace/index.ts
  javascript/webapp/jest.config.js
  javascript/webapp/src/components/App/App.util.ts
  javascript/webapp/src/components/App/hooks/useExampleProjects.ts
  javascript/webapp/src/components/App/hooks/useLoadMenu.ts
  javascript/webapp/src/components/App/hooks/useOnClickProject.ts
  javascript/webapp/src/components/App/hooks/useSaveProject.ts
  javascript/webapp/src/components/App/hooks/useSaveProps.ts
  javascript/webapp/src/hooks/handleZip.ts
  javascript/webapp/src/hooks/loadProject.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/SelectedTableDisplay.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useCreateColumnTable.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useToggleAutoType.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useToggleLoadedCorrectly.ts
  javascript/webapp/src/state/configJson.ts
  javascript/webapp/src/state/defaultDatasetResult.ts
  javascript/webapp/src/state/files.ts
  javascript/webapp/src/state/selectedFile.ts
  javascript/webapp/src/types/files/FileType.ts
  javascript/webapp/src/types/files/ProjectFile.ts
  javascript/webapp/src/types/files/index.ts
  javascript/webapp/src/types/index.ts
  javascript/webapp/src/utils/arquero.ts
  javascript/webapp/src/utils/files.ts
  javascript/webapp/tsconfig.json
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

Fix webapp dockerfile
  client.dockerfile
Due: none

Fix webapp dockerfile (#153)
  client.dockerfile
Due: none

estimate causal effects page with multiple outcomes
  javascript/components/src/EffectScatterplot/EffectScatterplot.tsx
  javascript/components/src/PivotScatterplot/PivotScatterplot.tsx
  javascript/types/src/visualization/DecisionFeature.ts
  javascript/types/src/visualization/Specification.ts
  javascript/types/src/visualization/SpecificationCurveConfig.ts
  javascript/types/src/visualization/index.ts
  javascript/webapp/src/data/effect-scatterplot.json
  javascript/webapp/src/hooks/index.ts
  javascript/webapp/src/hooks/specificationCurveManagement.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/SpecificationDescription.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/SpecificationGraphs.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useLoadSpecificationData.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/AnalyticDecisionsDotPlot.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/VegaSpecificationCurve.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/dot-plot.json
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/ResultsGraph.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useSignificanceTestManagement.ts
  javascript/webapp/src/utils/specificationCurveManagement.ts
  python/showwhy-inference/showwhy_inference/specification_interpreter.py
Due: essex prettify --staged

changed useDegreeCombobox hook to component
  javascript/components/src/DegreeComboBox/DegreeComboBox.tsx
  javascript/components/src/DegreeComboBox/index.ts
  javascript/components/src/index.ts
  javascript/webapp/src/hooks/index.ts
  javascript/webapp/src/hooks/useDegreeComboBox.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/hooks/hooks.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/hooks/inputs.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/hooks/items.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/hooks/onChange.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/AddVariableFields.tsx
  javascript/webapp/tsconfig.json
Due: essex prettify --staged

change dropdown
  javascript/components/src/PivotScatterplot/PivotScatterplot.tsx
  javascript/webapp/src/hooks/specificationCurveManagement.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/SpecificationGraphs.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/VegaSpecificationCurve.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
Due: none

prepare data hooks
  javascript/components/src/DegreeComboBox/DegreeComboBox.tsx
  javascript/webapp/src/hooks/causalFactors.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/AddVariableFields.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/CompletedElements.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/DeriveDataVariablesPage.hooks.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/DeriveDataVariablesPage.state.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/DeriveDataVariablesPage.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/PrepareData.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useAddVariable.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useBusinessLogic.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useDefinitionDropdownOptions.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useRenderDropdownOption.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useTables.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useViewTable.ts
Due: essex lint --fix --staged

connect specifications between outcomes
  javascript/components/src/EffectScatterplot/EffectScatterplot.tsx
  javascript/components/src/PivotScatterplot/PivotScatterplot.tsx
  javascript/types/src/visualization/Specification.ts
  javascript/webapp/src/data/effect-scatterplot.json
  javascript/webapp/src/hooks/specificationCurveManagement.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/SpecificationDescription.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/SpecificationGraphs.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/AnalyticDecisionsDotPlot.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/VegaSpecificationCurve.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/dot-plot.json
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/ResultsGraph.tsx
  javascript/webapp/src/state/specificationCurveConfig.ts
  javascript/webapp/src/utils/specificationCurveManagement.ts
Due: essex prettify --staged

fix lint
  javascript/webapp/src/hooks/specificationCurveManagement.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/SpecificationDescription.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/SpecificationGraphs.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/AnalyticDecisionsDotPlot.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/VegaSpecificationCurve.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/ResultsGraph.tsx
Due: none

fix failed refutation
  javascript/components/src/EffectScatterplot/EffectScatterplot.tsx
  javascript/components/src/PivotScatterplot/PivotScatterplot.tsx
  javascript/webapp/src/data/effect-scatterplot.json
  javascript/webapp/src/hooks/specificationCurveManagement.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/SpecificationGraphs.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/VegaSpecificationCurve.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/ResultsGraph.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useSignificanceTestManagement.ts
Due: essex prettify --staged

evaluate hypothesis page select outcome
  javascript/types/src/experiments/SignificanceTest.ts
  javascript/webapp/src/hooks/specificationCurveManagement.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimatedEffectConfig.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/SpecificationGraphs.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/VegaSpecificationCurve.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/PageButtons.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/ResultsGraph.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/RunManagement.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/SignificanceTestResult.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useCurrentSignificanceTest.ts
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useRunSignificanceTest.ts
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useSignificanceTestData.ts
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useSignificanceTestManagement.ts
  javascript/webapp/src/utils/significanceTests.ts
Due: none

fix
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimatedEffectConfig.tsx
Due: none

fix functions
  javascript/components/src/PivotScatterplot/PivotScatterplot.tsx
  javascript/webapp/src/hooks/specificationCurveManagement.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
Due: none

fix
  javascript/webapp/src/hooks/specificationCurveManagement.ts
Due: none

removed unused file and fix graph ticks
  javascript/webapp/src/hooks/specificationCurveManagement.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useLoadSpecificationData.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useSpecificationCurve.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/dot-plot.json
Due: essex prettify --staged

fix + 1 on id
  javascript/webapp/src/hooks/specificationCurveManagement.ts
Due: none

fix lint
  javascript/webapp/src/hooks/specificationCurveManagement.ts
Due: none

warning when variable is selected but not in output table
  javascript/webapp/src/hooks/nodeProperties.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/ErrorMessages.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useUploadFile.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/CompletedElements.tsx
Due: none

create tests for specification curve code
  javascript/types/src/workspace/DataTableDefinition.ts
  javascript/types/src/workspace/Workspace.ts
  javascript/webapp/src/hooks/specificationCurveManagement.ts
  javascript/webapp/src/utils/__tests__/specificationCurveManagement.spec.ts
  javascript/webapp/src/utils/specificationCurveManagement.ts
  javascript/webapp/tsconfig.json
Due: essex prettify --staged, essex lint --fix --staged

separate multiple outcomes into multiple specification charts (#155)
  javascript/components/src/EffectScatterplot/EffectScatterplot.tsx
  javascript/components/src/PivotScatterplot/PivotScatterplot.tsx
  javascript/types/src/experiments/SignificanceTest.ts
  javascript/types/src/visualization/DecisionFeature.ts
  javascript/types/src/visualization/Specification.ts
  javascript/types/src/visualization/SpecificationCurveConfig.ts
  javascript/types/src/visualization/index.ts
  javascript/types/src/workspace/DataTableDefinition.ts
  javascript/types/src/workspace/Workspace.ts
  javascript/webapp/src/data/effect-scatterplot.json
  javascript/webapp/src/hooks/index.ts
  javascript/webapp/src/hooks/specificationCurveManagement.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimatedEffectConfig.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/SpecificationDescription.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/SpecificationGraphs.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useLoadSpecificationData.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useSpecificationCurve.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/AnalyticDecisionsDotPlot.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/VegaSpecificationCurve.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/dot-plot.json
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/PageButtons.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/ResultsGraph.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/RunManagement.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/SignificanceTestResult.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useCurrentSignificanceTest.ts
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useRunSignificanceTest.ts
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useSignificanceTestData.ts
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useSignificanceTestManagement.ts
  javascript/webapp/src/state/specificationCurveConfig.ts
  javascript/webapp/src/utils/__tests__/specificationCurveManagement.spec.ts
  javascript/webapp/src/utils/significanceTests.ts
  javascript/webapp/src/utils/specificationCurveManagement.ts
  javascript/webapp/tsconfig.json
  python/showwhy-inference/showwhy_inference/specification_interpreter.py
Due: essex prettify --staged, essex lint --fix --staged

fix arrow positioning when scrolling
  javascript/components/src/CausalEffectsArrows/CausalEffectsArrows.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
Due: none

fix validations in completed elements and dataErrors
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useUploadFile.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/CompletedElements.tsx
Due: none

fix arrow positioning when scrolling (#157)
  javascript/components/src/CausalEffectsArrows/CausalEffectsArrows.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
Due: none

return error when first check is failed
  javascript/api-client/src/Orchestrator/Orchestrator.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useSpecificationCurve.ts
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/RunManagement.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useCurrentSignificanceTest.ts
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useSignificanceTestData.ts
Due: none

fix save significance test
  javascript/webapp/src/components/App/hooks/useSaveProject.ts
Due: none
