Repository microsoft/showwhy: changes, and which lint-staged commands are due for each by the changed paths.
All: essex prettify --staged, essex lint --fix --staged, bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)", bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)", bash -c "(cd python/showwhy-inference && poetry run isort ./showwhy_inference)", bash -c "(cd python/showwhy-inference && poetry run black ./showwhy_inference)"

removed unused state
  javascript/client/src/components/CardComponent/RadioButtonCard.tsx
  javascript/client/src/components/CardComponent/index.ts
  javascript/client/src/components/Tables/GenericTableComponent/GenericTableComponent.tsx
  javascript/client/src/hooks/resetProject.ts
  javascript/client/src/pages/ModelDomain/ConfirmDomainModelsPage/ConfirmDomainModelsPage.tsx
  javascript/client/src/pages/ModelDomain/ConfirmDomainModelsPage/hooks/useBusinessLogic.ts
  javascript/client/src/state/index.ts
  javascript/client/src/state/nodeResponse.ts
  javascript/client/src/state/tablesPrepSpecification.ts
Due: none

remove unused types & state (#144)
  javascript/client/src/components/CardComponent/CardComponent.types.ts
  javascript/client/src/components/CardComponent/RadioButtonCard.tsx
  javascript/client/src/components/CardComponent/index.ts
  javascript/client/src/components/Tables/GenericTableComponent/GenericTableComponent.hooks.ts
  javascript/client/src/components/Tables/GenericTableComponent/GenericTableComponent.tsx
  javascript/client/src/components/Tables/GenericTableComponent/hooks/useDefaultTableSample.ts
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/loadProject.ts
  javascript/client/src/hooks/resetProject.ts
  javascript/client/src/hooks/tables.ts
  javascript/client/src/hooks/useTableCommands.ts
  javascript/client/src/pages/ModelDomain/ConfirmDomainModelsPage/ConfirmDomainModelsPage.tsx
  javascript/client/src/pages/ModelDomain/ConfirmDomainModelsPage/hooks/useBusinessLogic.ts
  javascript/client/src/state/index.ts
  javascript/client/src/state/nodeResponse.ts
  javascript/client/src/state/tables.ts
  javascript/client/src/state/tablesPrepSpecification.ts
  javascript/client/src/types/dataTables/ColumnRelation.ts
  javascript/client/src/types/dataTables/ColumnRelevance.ts
  javascript/client/src/types/dataTables/DataTable.ts
  javascript/client/src/types/dataTables/TableColumn.ts
  javascript/client/src/types/dataTables/TableDerivation.ts
  javascript/client/src/types/dataTables/TableDerivationType.ts
  javascript/client/src/types/dataTables/index.ts
  javascript/client/src/types/files/FileStep.ts
  javascript/client/src/types/files/index.ts
  javascript/client/src/types/index.ts
  javascript/types/src/api/RenameCalloutArgs.ts
  javascript/types/src/experiments/EstimandIdentificationVariables.ts
  javascript/types/src/experiments/ExperimentDefinitions.ts
  javascript/types/src/experiments/VariableDefinition.ts
  javascript/types/src/experiments/index.ts
  javascript/types/src/filters/FilterObject.ts
  javascript/types/src/filters/FilterType.ts
  javascript/types/src/filters/index.ts
  javascript/types/src/index.ts
Due: essex lint --fix --staged

get components building
  javascript/components/package.json
  javascript/components/src/ActionButtons/ActionButtons.tsx
  javascript/components/src/ActionButtons/index.ts
  javascript/components/src/Callout/InfoCallout.tsx
  javascript/components/src/Callout/LinkCallout.tsx
  javascript/components/src/Callout/index.ts
  javascript/components/src/CardComponent/RadioButtonCard.tsx
  javascript/components/src/CardComponent/index.ts
  javascript/components/src/CausalQuestion/index.ts
  javascript/components/src/DatasetsList/DatasetsList.tsx
  javascript/components/src/DatasetsList/index.ts
  javascript/components/src/DropzoneContainer/DropzoneContainer.tsx
  javascript/components/src/DropzoneContainer/index.ts
  javascript/components/src/ErrorMessage/ErrorMessage.tsx
  javascript/components/src/ErrorMessage/index.ts
  javascript/components/src/MessageContainer/index.ts
  javascript/components/src/ProgressBar/ProgressBar.hooks.ts
  javascript/components/src/ProgressBar/ProgressBar.tsx
  javascript/components/src/ProgressBar/__tests__/ProgressBar.utils.spec.ts
  javascript/components/src/ProgressBar/index.ts
  javascript/components/src/StepTitle/index.ts
  javascript/components/src/UnderstandProcessModal/UnderstandProcessItem.tsx
  javascript/components/src/UnderstandProcessModal/UnderstandProcessLink.tsx
  javascript/components/src/UnderstandProcessModal/UnderstandProcessModal.tsx
  javascript/components/src/UnderstandProcessModal/index.ts
  javascript/components/src/hooks.ts
  javascript/components/src/index.ts
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

update jest config
  javascript/components/jest.config.mjs
  javascript/components/package.json
  javascript/components/src/ActionButtons/ActionButtons.tsx
  javascript/components/src/CardComponent/index.ts
  javascript/components/src/DropzoneContainer/DropzoneContainer.tsx
  javascript/components/src/ProgressBar/ProgressBar.tsx
  javascript/components/src/UnderstandProcessModal/UnderstandProcessItem.tsx
  javascript/components/src/UnderstandProcessModal/UnderstandProcessModal.tsx
  javascript/components/src/index.ts
Due: essex prettify --staged, essex lint --fix --staged

upgrade vite
  javascript/client/package.json
  yarn.lock
Due: essex prettify --staged

fix to components .js extensions
  javascript/components/package.json
  javascript/components/src/AppHeader/AppHeader.tsx
  javascript/components/src/AppHeader/ProjectsSelector.tsx
  javascript/components/src/AppHeader/SaveProject.tsx
  javascript/components/src/AppHeader/UnderstandProcessButton.tsx
  javascript/components/src/AppHeader/index.ts
  javascript/components/src/Callout/InfoCallout.tsx
  javascript/components/src/Callout/LinkCallout.tsx
  javascript/components/src/Callout/index.ts
  javascript/components/src/CardComponent/RadioButtonCard.tsx
  javascript/components/src/CardComponent/index.ts
  javascript/components/src/CausalQuestion/index.ts
  javascript/components/src/DatasetsList/DatasetsList.tsx
  javascript/components/src/DatasetsList/index.ts
  javascript/components/src/DropzoneContainer/DropzoneContainer.tsx
  javascript/components/src/DropzoneContainer/index.ts
  javascript/components/src/ErrorMessage/ErrorMessage.tsx
  javascript/components/src/ErrorMessage/index.ts
  javascript/components/src/GenericTable/GenericTable.tsx
  javascript/components/src/GenericTable/index.ts
  javascript/components/src/Guidance/index.ts
  javascript/components/src/MessageContainer/index.ts
  javascript/components/src/ProgressBar/ProgressBar.hooks.ts
  javascript/components/src/ProgressBar/ProgressBar.tsx
  javascript/components/src/ProgressBar/index.ts
  javascript/components/src/RunProgressIndicator/RunProgressIndicator.tsx
  javascript/components/src/RunProgressIndicator/index.ts
  javascript/components/src/StepTitle/index.ts
  javascript/components/src/UnderstandProcessModal/UnderstandProcessItem.tsx
  javascript/components/src/UnderstandProcessModal/UnderstandProcessLink.tsx
  javascript/components/src/UnderstandProcessModal/UnderstandProcessModal.tsx
  javascript/components/src/UnderstandProcessModal/index.ts
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

fix lint
  javascript/client/src/components/App/Layout.tsx
Due: none

fix pw command
  javascript/acceptance-tests/package.json
  javascript/acceptance-tests/pageObjects/ConsiderAlternativeDefinitionsPO.ts
  package.json
  yarn.lock
Due: essex prettify --staged

remove pw from initial tests
  javascript/acceptance-tests/package.json
Due: essex prettify --staged

fix pw tests
  javascript/acceptance-tests/pageObjects/ConsiderAlternativeDefinitionsPO.ts
  javascript/acceptance-tests/pageObjects/ConsiderRelevantVariablesPO.ts
  javascript/acceptance-tests/playwright.config.ts
Due: essex lint --fix --staged

fix peerDependencier on components package
  javascript/components/package.json
  yarn.lock
Due: essex prettify --staged

fix dependencies
  javascript/components/package.json
  yarn.lock
Due: essex prettify --staged

remove codeql from azure and publish tests results to devops
  .vsts-ci.yml
  javascript/client/jest.config.js
  javascript/client/package.json
  javascript/components/jest.config.mjs
  javascript/components/package.json
  package.json
  python/.vsts-ci.yml
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

update packages
  .vsts-ci.yml
  javascript/acceptance-tests/package.json
  javascript/builders/package.json
  javascript/client/package.json
  javascript/components/package.json
  package.json
  yarn.lock
Due: essex prettify --staged

remove codeql from azure and publish tests results to devops (#146)
  .vsts-ci.yml
  javascript/acceptance-tests/package.json
  javascript/builders/package.json
  javascript/client/jest.config.js
  javascript/client/package.json
  javascript/components/jest.config.mjs
  javascript/components/package.json
  package.json
  python/.vsts-ci.yml
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

refactor LoadDataPage hooks
  javascript/client/src/hooks/datasetUpload.ts
  javascript/client/src/hooks/dropzone/dropzone.ts
  javascript/client/src/hooks/dropzone/index.ts
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/supportedFileTypes.ts
  javascript/client/src/hooks/useCreateColumnTable.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.constants.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.hooks.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.tsx
  javascript/client/src/pages/PrepareData/LoadDataPage/SelectedTableDisplay.tsx
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/__tests__/acceptedLoadFileTypes.spec.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useAcceptedLoadFileTypes.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useBusinessLogic.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useDefaultSelectedFile.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useGlobalDropzone.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useHandleDelimiterChange.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useHandleDrop.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useOnDropAccepted.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useOnDropDatasetFilesAccepted.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useOnDropRejected.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useOnLoadCompleted.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useOnLoadStart.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useResetFilesCount.ts
  javascript/client/src/utils/arquero.ts
  javascript/client/src/utils/files.ts
Due: essex lint --fix --staged

refactor LoadDataPage hooks
  javascript/client/src/hooks/useCreateColumnTable.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.tsx
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useAcceptedLoadFileTypes.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useGlobalDropzone.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useHandleDelimiterChange.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useHandleDrop.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useOnDropAccepted.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useOnDropDatasetFilesAccepted.ts
Due: none

replaced gen table for details list in factors table component
  javascript/client/src/components/App/StyleContext.tsx
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/ConsiderVariableRelationshipsPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/FactorsTable.tsx
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/columns.tsx
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/onRenderRow.tsx
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/hooks/useBusinessLogic.ts
Due: none

custom row renderer and column builder
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/FactorsTable.tsx
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/columns.tsx
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/onRenderRow.tsx
  javascript/client/src/types/tables.ts
  javascript/client/src/utils/index.ts
  javascript/client/src/utils/tables.tsx
Due: none

refactor Load Data Page hooks
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/resetProject.ts
  javascript/client/src/hooks/useDropzone.ts
  javascript/client/src/hooks/useFileManagement.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/DeriveDataVariablesPage.hooks.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnUpdateTables.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.constants.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.tsx
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.types.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useGlobalDropzone.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useHandleDelimiterChange.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useHandleDrop.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useHandleLoadFile.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useOnConfirmDelete.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useOnDropAccepted.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useOnDropDatasetFilesAccepted.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useOnDropRejected.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useOnLoadCompleted.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useOnLoadStart.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useResetFilesCount.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useToggleAutoType.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useToggleLoadedCorrectly.ts
  javascript/client/src/state/files.ts
  javascript/client/src/state/selectedFile.ts
  javascript/components/src/index.ts
Due: essex lint --fix --staged

refactor Load Data Page hooks
  javascript/client/src/hooks/useFileManagement.ts
  javascript/components/src/index.ts
Due: none

refactor LoadDataPage hooks (#147)
  javascript/client/src/hooks/datasetUpload.ts
  javascript/client/src/hooks/dropzone/dropzone.ts
  javascript/client/src/hooks/dropzone/hooks.ts
  javascript/client/src/hooks/dropzone/index.ts
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/resetProject.ts
  javascript/client/src/hooks/supportedFileTypes.ts
  javascript/client/src/hooks/useCreateColumnTable.ts
  javascript/client/src/hooks/useDropzone.ts
  javascript/client/src/hooks/useFileManagement.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/DeriveDataVariablesPage.hooks.ts
  javascript/client/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnUpdateTables.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.constants.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.hooks.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.tsx
  javascript/client/src/pages/PrepareData/LoadDataPage/SelectedTableDisplay.tsx
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/__tests__/acceptedLoadFileTypes.spec.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useAcceptedLoadFileTypes.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useBusinessLogic.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useDefaultSelectedFile.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useHandleDelimiterChange.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useHandleLoadFile.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useOnConfirmDelete.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useToggleAutoType.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks/useToggleLoadedCorrectly.ts
  javascript/client/src/state/files.ts
  javascript/client/src/state/selectedFile.ts
  javascript/client/src/utils/arquero.ts
  javascript/client/src/utils/files.ts
  javascript/components/src/index.ts
Due: essex lint --fix --staged

removed a few hooks from hooks folder
  javascript/client/src/components/App/hooks/useOnClickProject.ts
  javascript/client/src/components/App/hooks/useResetProject.ts
  javascript/client/src/components/App/hooks/useSaveProject.ts
  javascript/client/src/components/App/hooks/useSaveProps.ts
  javascript/client/src/hooks/causalFactors.ts
  javascript/client/src/hooks/download.ts
  javascript/client/src/hooks/fileCollection.ts
  javascript/client/src/hooks/loadProject.ts
  javascript/client/src/hooks/specificationCurve.ts
  javascript/client/src/hooks/steps.ts
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/ConsiderVariableRelationshipsPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/hooks/useSetPageDone.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/ErrorMessages.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useErrors.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useEstimateLogic.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useRunEstimate.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useCurrentSignificanceTest.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useRunSignificanceTest.ts
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/SelectCausalEstimatorsPage.tsx
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/useEstimatorCardList.ts
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/useEstimatorOptions.ts
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/useEstimatorsList.ts
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/useVerifyEstimatorGroups.ts
  javascript/client/src/pages/PrepareData/LoadDataPage/LoadDataPage.tsx
  javascript/client/src/state/selectedFile.ts
Due: none

custom details list component
  javascript/components/src/DetailsList/DetailsList.tsx
  javascript/components/src/DetailsList/DetailsList.types.ts
  javascript/components/src/DetailsList/DetailsList.util.tsx
  javascript/components/src/DetailsList/index.ts
  javascript/components/src/index.ts
Due: essex lint --fix --staged

replaced details list in factors table
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/FactorsTable.tsx
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/hooks/headers.ts
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/hooks/index.ts
  javascript/client/src/types/index.ts
  javascript/client/src/types/tables.ts
  javascript/components/src/index.ts
Due: none

replaced generic table in pivot list + replaced useTables hook
  javascript/client/src/hooks/factorDefinitionTable.ts
  javascript/client/src/hooks/index.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.hooks.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/PivotType.tsx
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useDefinitionItems.tsx
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useHeaders.ts
  javascript/client/src/utils/tables.tsx
Due: essex lint --fix --staged

fix lint
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useSpecificationCurve.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useSpecificationCurveData.ts
Due: none

remove one hook
  javascript/client/src/components/App/App.hooks.ts
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/components/App/hooks/useUploadZipMenuOption.ts
  javascript/client/src/hooks/uploadZip.ts
Due: essex lint --fix --staged

fix lint
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/components/App/hooks/useUploadZipMenuOption.ts
  javascript/client/src/hooks/uploadZip.ts
Due: none

fix hooks
  javascript/client/jest.config.js
  javascript/client/src/hooks/handleZip.ts
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/refutation.ts
  javascript/client/src/hooks/useDropzone.ts
  javascript/client/src/hooks/useSaveDefinition.ts
  javascript/client/src/hooks/useSpecificationCurveManagement.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.hooks.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.utils.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useLoadSpecificationData.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useRunEstimate.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useSpecificationCurve.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/AnalysisSummary.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.hooks.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/PageButtons.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/SignificanceTests.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useRunSignificanceTest.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useSignificanceTestData.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useSignificanceTestManagement.ts
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/SelectCausalEstimatorsPage.utils.ts
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/useEstimatorCardList.ts
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/useEstimatorOptions.ts
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/useOnDefaultChange.ts
  javascript/client/src/utils/index.ts
  javascript/client/src/utils/significanceTests.ts
  javascript/client/src/utils/specificationCurveManagement.ts
  javascript/client/tsconfig.json
Due: essex prettify --staged, essex lint --fix --staged

removed generic table component and useTableComponent
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/useFactorsDefinitionForm.tsx
  javascript/client/src/hooks/variables.tsx
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.hooks.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/PivotType.tsx
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useBusinessLogic.ts
  javascript/client/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useTableComponent.tsx
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/ConsiderRelevantVariablesPage.constants.ts
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/ConsiderRelevantVariablesPage.hooks.ts
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/ConsiderRelevantVariablesPage.tsx
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/hooks/useBusinessLogic.ts
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/hooks/useFactorItems.tsx
  javascript/client/src/pages/ModelDomain/ConsiderRelevantVariablesPage/hooks/useHeaders.ts
  javascript/client/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/hooks/hooks.ts
  javascript/components/src/GenericTable/GenericTable.tsx
  javascript/components/src/GenericTable/GenericTable.types.ts
  javascript/components/src/GenericTable/GenericTable.utils.ts
  javascript/components/src/GenericTable/__tests__/GenericTable.utils.spec.ts
  javascript/components/src/GenericTable/hooks/useDefaultTableSample.ts
  javascript/components/src/GenericTable/index.ts
  javascript/components/src/index.ts
Due: essex lint --fix --staged

migrated Pivotscatterplot to @components
  javascript/client/package.json
  javascript/client/src/data/effect-scatterplot.json
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/AnalyticDecisionsDotPlot.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/VegaSpecificationCurve.tsx
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/ResultsGraph.tsx
  javascript/client/tsconfig.json
  javascript/components/package.json
  javascript/components/src/EffectScatterplot/EffectScatterplot.tsx
  javascript/components/src/EffectScatterplot/index.ts
  javascript/components/src/PivotScatterplot/PivotScatterplot.tsx
  javascript/components/src/PivotScatterplot/index.ts
  javascript/components/src/VegaHost/VegaHost.constants.ts
  javascript/components/src/VegaHost/VegaHost.util.ts
  javascript/components/src/index.ts
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

Path conditions:
  essex prettify --staged: any of: *.{json,md}
  essex lint --fix --staged: any of: javascript/**/*.*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}
  bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)": any of: python/showwhy-backend/**/*.py
  bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)": any of: python/showwhy-backend/**/*.py
  bash -c "(cd python/showwhy-inference && poetry run isort ./showwhy_inference)": any of: python/showwhy-interface/**/*.py
  bash -c "(cd python/showwhy-inference && poetry run black ./showwhy_inference)": any of: python/showwhy-interface/**/*.py
