Repository microsoft/showwhy: changes, and which lint-staged commands are due for each by the changed paths.
All: essex prettify --staged, essex lint --fix --staged, bash -c "(cd python/showwhy-backend && poetry run isort .)", bash -c "(cd python/showwhy-backend && poetry run black .)", bash -c "(cd python/showwhy-inference && poetry run isort .)", bash -c "(cd python/showwhy-inference && poetry run black .)"

.lintstagedrc.json:

{
	"*.{json,md}": ["essex prettify --staged"],
	"javascript/**/*.*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": [
		"essex lint --fix --staged"
	],
	"python/showwhy-backend/**/*.py": [
		"bash -c \"(cd python/showwhy-backend && poetry run isort .)\"",
		"bash -c \"(cd python/showwhy-backend && poetry run black .)\""
	],
	"python/showwhy-interface/**/*.py": [
		"bash -c \"(cd python/showwhy-inference && poetry run isort .)\"",
		"bash -c \"(cd python/showwhy-inference && poetry run black .)\""
	]
}

initial ci pipeline for python
  .lintstagedrc.json
  .vsts-ci-python.yml
  .vsts-ci.yml
  python/showwhy-backend/poetry.lock
  python/showwhy-backend/pyproject.toml
  python/showwhy-inference/poetry.lock
  python/showwhy-inference/pyproject.toml
Due: essex prettify --staged

undo changes
  .vsts-ci.yml
Due: none

Update .vsts-ci-python.yml for Azure Pipelines
  .vsts-ci-python.yml
Due: none

updated examples json files and zip files
  javascript/acceptance-tests/files/COVID-19.zip
  javascript/acceptance-tests/files/Smoking Cessation.zip
  javascript/client/public/data/examples/covid-19.json
  javascript/client/public/data/examples/smoking-cessation.json
Due: essex prettify --staged

Fix pipeline
  .vsts-ci-python.yml
Due: none

Add compliance dep
  .vsts-ci-python.yml
Due: none

Test dependencies
  .vsts-ci-python.yml
  python/showwhy-inference/poetry.lock
  python/showwhy-inference/pyproject.toml
Due: none

Update deps
  python/showwhy-backend/poetry.lock
  python/showwhy-inference/poetry.lock
Due: none

Test with azure cli
  .vsts-ci-python.yml
Due: none

update deployment args
  .vsts-ci-python.yml
Due: none

test deployment
  .vsts-ci-python.yml
  python/showwhy-backend/poetry.lock
  python/showwhy-backend/pyproject.toml
  python/showwhy-inference/poetry.lock
  python/showwhy-inference/pyproject.toml
Due: none

fix python version
  .vsts-ci-python.yml
Due: none

changed zip file format name
  javascript/client/src/hooks/saveProject.ts
Due: none

factor tables: ui fixes, add when enter is pressed
  javascript/client/src/components/FactorsDefinitionForm/hooks.tsx
  javascript/client/src/components/FactorsDefinitionForm/variables.tsx
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/FactorsTable/FactorsTable.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
Due: none

switch focus to uploaded table
  javascript/client/src/pages/PrepareData/LoadDataPage/hooks.ts
Due: none

Fix showwhy deps
  python/showwhy-backend/poetry.lock
  python/showwhy-inference/poetry.lock
  python/showwhy-inference/pyproject.toml
Due: none

wide dropdown for coumns
  javascript/client/package.json
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useCommandBar.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useDefinitionDropdownOptions.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnResetVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnSelectVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
  yarn.lock
Due: essex prettify --staged

themed components version
  yarn.lock
Due: none

fix hooks
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useSelectedOption.ts
Due: none

update themed components version
  javascript/client/package.json
Due: essex prettify --staged

update themed components version
  yarn.lock
Due: none

fix lint
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
Due: none

list of selected variables
  javascript/client/src/pages/PrepareData/ProcessDataPage/CompletedElements.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks.tsx
Due: none

fix dropdown on commandBar (#101)
  javascript/client/package.json
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useCommandBar.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useDefinitionDropdownOptions.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnResetVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnSelectVariable.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useSelectedOption.ts
  yarn.lock
Due: essex prettify --staged

updated dwc core adn react versions
  javascript/client/package.json
  yarn.lock
Due: essex prettify --staged

Fix python deps
  python/showwhy-backend/poetry.lock
  python/showwhy-backend/pyproject.toml
  python/showwhy-inference/poetry.lock
  python/showwhy-inference/pyproject.toml
Due: none

send only used columns on output table to backend
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/nodes.ts
  javascript/client/src/hooks/useAllColumns.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks.ts
  javascript/client/src/utils/files.ts
Due: none

fix lint
  javascript/client/src/hooks/index.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks.ts
Due: none

send only used columns on output table to backend (#105)
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/nodes.ts
  javascript/client/src/hooks/useAllColumns.ts
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks.ts
  javascript/client/src/utils/files.ts
Due: none

Add Integ + Dev deployments, move file to python folder
  python/.vsts-ci.yml
Due: none

send projectFile if we don't have an output table (smoking cessation example)
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks.ts
Due: none

Fix precommit python
  .lintstagedrc.json
Due: essex prettify --staged

Update docker-compose to use latest azurite version
  docker-compose.yml
  python/showwhy-backend/showwhy_backend/shared_code/io/storage.py
Due: bash -c "(cd python/showwhy-backend && poetry run isort .)", bash -c "(cd python/showwhy-backend && poetry run black .)"

fix nginx and graph width
  javascript/client/src/hooks/window.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/ResultsGraph.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
  nginx.conf
Due: none

fix test
  javascript/client/src/hooks/__tests__/window.spec.ts
  javascript/client/src/hooks/window.ts
Due: essex lint --fix --staged

Python/ci (#106)
  .lintstagedrc.json
  docker-compose.yml
  python/.vsts-ci.yml
  python/showwhy-backend/poetry.lock
  python/showwhy-backend/pyproject.toml
  python/showwhy-backend/showwhy_backend/shared_code/io/storage.py
  python/showwhy-inference/poetry.lock
  python/showwhy-inference/pyproject.toml
Due: essex prettify --staged, bash -c "(cd python/showwhy-backend && poetry run isort .)", bash -c "(cd python/showwhy-backend && poetry run black .)"

fix nginx and graph width (#107)
  javascript/client/src/hooks/__tests__/window.spec.ts
  javascript/client/src/hooks/window.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/ResultsGraph.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
  nginx.conf
Due: essex lint --fix --staged

refactored completed alements component, fixed description input width for factors table
  javascript/client/src/components/FactorsDefinitionForm/variables.tsx
  javascript/client/src/components/Tables/TableComponent/hooks.tsx
  javascript/client/src/hooks/saveProject.ts
  javascript/client/src/pages/ModelCausalFactors/ConsiderCausalFactorsPage/ConsiderCausalFactorsPage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/CompletedElements.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks.tsx
  javascript/client/src/types/tableView/HeaderData.ts
Due: none

missing variable assignment message
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectsPage.tsx
  javascript/client/src/pages/PerformAnalysis/EstimateCausalEffectsPage/InfoMessage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/CompletedElements.tsx
Due: none
