Repository microsoft/showwhy: changes, and which lint-staged commands are due for each by the changed paths.
All: essex prettify --staged, essex lint --fix --staged, bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)", bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)", bash -c "(cd python/showwhy-inference && poetry run isort ./showwhy_inference)", bash -c "(cd python/showwhy-inference && poetry run black ./showwhy_inference)"

.lintstagedrc.json:

{
	"*.{json,md}": ["essex prettify --staged"],
	"javascript/**/*.*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": [
		"essex lint --fix --staged"
	],
	"python/showwhy-backend/**/*.py": [
		"bash -c \"(cd python/showwhy-backend && poetry run isort ./showwhy_backend)\"",
		"bash -c \"(cd python/showwhy-backend && poetry run black ./showwhy_backend)\""
	],
	"python/showwhy-interface/**/*.py": [
		"bash -c \"(cd python/showwhy-inference && poetry run isort ./showwhy_inference)\"",
		"bash -c \"(cd python/showwhy-inference && poetry run black ./showwhy_inference)\""
	]
}

string fix
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/components/CovariateBalanceDetails.tsx
Due: none

add covariate imbalance threshold and validation on graph (#181)
  javascript/acceptance-tests/files/COVID-19.zip
  javascript/acceptance-tests/pageObjects/EstimateCausalEffectPO.ts
  javascript/acceptance-tests/pw-tests/estimate-causal-effect.spec.ts
  javascript/types/src/refutation/RefutationResultString.ts
  javascript/types/src/runs/RunHistory.ts
  javascript/types/src/visualization/CovariateBalance.ts
  javascript/types/src/visualization/Specification.ts
  javascript/webapp/src/hooks/runHistory.ts
  javascript/webapp/src/hooks/specificationCurveManagement.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/components/CovariateBalanceDetails.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/components/SpecificationDescription.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useSpecificationCurve.ts
  javascript/webapp/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/SelectCausalEstimatorsPage.constants.ts
  javascript/webapp/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/SelectCausalEstimatorsPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/useOnConfounderThresholdChange.ts
  javascript/webapp/src/state/confounderThreshold.ts
  javascript/webapp/src/state/covariateProportionThreshold.ts
  javascript/webapp/src/state/index.ts
  javascript/webapp/src/utils/__tests__/specificationCurveManagement.spec.ts
  javascript/webapp/src/utils/specificationCurveManagement.ts
Due: essex lint --fix --staged

fix exposure text on bug 163342
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/components/AnalysisSummary.tsx
Due: none

fix exposure text on bug 163342 (#186)
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/components/AnalysisSummary.tsx
Due: none

replaced id uuid for table name
  javascript/webapp/src/hooks/loadProject.ts
Due: none

fix shap values y axis on graph
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/dot-plot.json
Due: essex prettify --staged

fix shap values y axis on graph (#188)
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/dot-plot.json
Due: essex prettify --staged

fixed workflow update on dpownload + removed unused output table
  javascript/webapp/src/components/App/hooks/useSaveProject.ts
Due: none

update version with bug
  javascript/webapp/package.json
  yarn.lock
Due: essex prettify --staged

graph ordering correctly with shap error
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/dot-plot.json
Due: essex prettify --staged

fix shap
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/dot-plot.json
Due: essex prettify --staged

graph ordering correctly with shap error (#190)
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/vega/dot-plot.json
Due: essex prettify --staged

fix confidence interval lines when estimator is disabled
  javascript/webapp/src/data/effect-scatterplot.json
Due: essex prettify --staged

fix confidence interval lines when estimator is disabled (#191)
  javascript/webapp/src/data/effect-scatterplot.json
Due: essex prettify --staged

add datashaper and fix input bug
  .vscode/react.code-snippets
  javascript/components/package.json
  javascript/types/package.json
  javascript/types/src/files/ZipFileData.ts
  javascript/types/src/workspace/Workspace.ts
  javascript/webapp/package.json
  javascript/webapp/src/components/App/App.util.ts
  javascript/webapp/src/components/App/hooks/useSaveProject.ts
  javascript/webapp/src/components/App/hooks/useSaveProps.ts
  javascript/webapp/src/components/App/hooks/useUploadZipMenuOption.ts
  javascript/webapp/src/hooks/fileCollection.ts
  javascript/webapp/src/hooks/handleZip.ts
  javascript/webapp/src/hooks/index.ts
  javascript/webapp/src/hooks/loadProject.ts
  javascript/webapp/src/hooks/nodeProperties.ts
  javascript/webapp/src/hooks/useOutputLast.ts
  javascript/webapp/src/hooks/validateColumnDataTypes.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useUploadFile.ts
  javascript/webapp/src/pages/PrepareData/ConfirmDataPage/ConfirmDataPage.hooks.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/CompletedElements.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/PrepareData.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useCommandBar.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/components/DropzoneContainer.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useCreateColumnTable.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useDropzone.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useFileManagement.ts
  javascript/webapp/src/state/fileCollection.ts
  javascript/webapp/src/state/outputTable.ts
  javascript/webapp/src/state/tablesPrepSpecification.ts
  javascript/webapp/src/state/workflow.ts
  javascript/webapp/src/utils/arquero.ts
  javascript/webapp/src/utils/files.ts
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

fix output tables
  javascript/webapp/src/components/App/hooks/useResetProject.ts
  javascript/webapp/src/hooks/index.ts
  javascript/webapp/src/hooks/loadProject.ts
  javascript/webapp/src/hooks/nodeProperties.ts
  javascript/webapp/src/hooks/useOutputTable.ts
  javascript/webapp/src/hooks/validateColumnDataTypes.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useUploadFile.ts
  javascript/webapp/src/pages/PrepareData/ConfirmDataPage/ConfirmDataPage.hooks.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/CompletedElements.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/PrepareData.tsx
  javascript/webapp/src/state/index.ts
  javascript/webapp/src/state/outputTable.ts
  javascript/webapp/src/state/outputTables.ts
Due: essex lint --fix --staged

fix lint
  javascript/webapp/src/components/App/hooks/useResetProject.ts
  javascript/webapp/src/hooks/loadProject.ts
  javascript/webapp/src/hooks/nodeProperties.ts
  javascript/webapp/src/hooks/useOutputTable.ts
  javascript/webapp/src/hooks/validateColumnDataTypes.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useUploadFile.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/CompletedElements.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/PrepareData.tsx
Due: none

change @datashaper to @dwc again
  javascript/components/package.json
  javascript/types/package.json
  javascript/types/src/files/ZipFileData.ts
  javascript/types/src/workspace/Workspace.ts
  javascript/webapp/package.json
  javascript/webapp/src/components/App/App.util.ts
  javascript/webapp/src/components/App/hooks/useSaveProject.ts
  javascript/webapp/src/components/App/hooks/useSaveProps.ts
  javascript/webapp/src/components/App/hooks/useUploadZipMenuOption.ts
  javascript/webapp/src/hooks/fileCollection.ts
  javascript/webapp/src/hooks/handleZip.ts
  javascript/webapp/src/hooks/loadProject.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/PrepareData.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useCommandBar.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/components/DropzoneContainer.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useCreateColumnTable.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useDropzone.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useFileManagement.ts
  javascript/webapp/src/state/fileCollection.ts
  javascript/webapp/src/state/tablesPrepSpecification.ts
  javascript/webapp/src/state/workflow.ts
  javascript/webapp/src/utils/arquero.ts
  javascript/webapp/src/utils/files.ts
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

Fix input/output table bug (#192)
  .vscode/react.code-snippets
  javascript/webapp/src/components/App/hooks/useResetProject.ts
  javascript/webapp/src/components/App/hooks/useSaveProject.ts
  javascript/webapp/src/hooks/index.ts
  javascript/webapp/src/hooks/loadProject.ts
  javascript/webapp/src/hooks/nodeProperties.ts
  javascript/webapp/src/hooks/useOutputTable.ts
  javascript/webapp/src/hooks/validateColumnDataTypes.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useUploadFile.ts
  javascript/webapp/src/pages/PrepareData/ConfirmDataPage/ConfirmDataPage.hooks.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/CompletedElements.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/PrepareData.tsx
  javascript/webapp/src/state/index.ts
  javascript/webapp/src/state/outputTable.ts
  javascript/webapp/src/state/outputTables.ts
  javascript/webapp/src/utils/arquero.ts
  yarn.lock
Due: essex lint --fix --staged

update @dwc to datashaper
  javascript/components/package.json
  javascript/types/package.json
  javascript/types/src/files/ZipFileData.ts
  javascript/types/src/workspace/Workspace.ts
  javascript/webapp/package.json
  javascript/webapp/src/components/App/App.util.ts
  javascript/webapp/src/components/App/hooks/useSaveProject.ts
  javascript/webapp/src/components/App/hooks/useSaveProps.ts
  javascript/webapp/src/components/App/hooks/useUploadZipMenuOption.ts
  javascript/webapp/src/hooks/fileCollection.ts
  javascript/webapp/src/hooks/handleZip.ts
  javascript/webapp/src/hooks/loadProject.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/PrepareData.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useCommandBar.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/components/DropzoneContainer.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useCreateColumnTable.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useDropzone.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useFileManagement.ts
  javascript/webapp/src/state/fileCollection.ts
  javascript/webapp/src/state/tablesPrepSpecification.ts
  javascript/webapp/src/state/workflow.ts
  javascript/webapp/src/utils/arquero.ts
  javascript/webapp/src/utils/files.ts
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

fix index not selected bug
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useIsMicrodata.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/CompletedElements.tsx
Due: none

fix index bug
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/CompletedElements.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/DataTypeWarningMessage.tsx
Due: none

remove debugger
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
Due: none

fix lint
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useDataErrors.ts
Due: none

update @data-wrangling-components to @datashaper (#193)
  javascript/components/package.json
  javascript/types/package.json
  javascript/types/src/files/ZipFileData.ts
  javascript/types/src/workspace/Workspace.ts
  javascript/webapp/package.json
  javascript/webapp/src/components/App/App.util.ts
  javascript/webapp/src/components/App/hooks/useSaveProject.ts
  javascript/webapp/src/components/App/hooks/useSaveProps.ts
  javascript/webapp/src/components/App/hooks/useUploadZipMenuOption.ts
  javascript/webapp/src/hooks/fileCollection.ts
  javascript/webapp/src/hooks/handleZip.ts
  javascript/webapp/src/hooks/loadProject.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useIsMicrodata.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/CompletedElements.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/DataTypeWarningMessage.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/PrepareData.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useCommandBar.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/components/DropzoneContainer.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useCreateColumnTable.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useDropzone.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useFileManagement.ts
  javascript/webapp/src/state/fileCollection.ts
  javascript/webapp/src/state/tablesPrepSpecification.ts
  javascript/webapp/src/state/workflow.ts
  javascript/webapp/src/utils/arquero.ts
  javascript/webapp/src/utils/files.ts
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

remove dangerouslyAllowMutability from workflow state
  javascript/webapp/src/state/workflow.ts
Due: none

removed postLoad from config.json and save/load hooks
  javascript/webapp/public/data/examples/covid-19.json
  javascript/webapp/public/data/examples/smoking-cessation.json
  javascript/webapp/src/components/App/hooks/useSaveProject.ts
  javascript/webapp/src/hooks/loadProject.ts
Due: essex prettify --staged

updated zip files
  javascript/acceptance-tests/files/COVID-19.zip
  javascript/acceptance-tests/files/Smoking Cessation.zip
Due: none

fix acceptance test
  javascript/acceptance-tests/pw-tests/estimate-causal-effect.spec.ts
Due: essex lint --fix --staged

updated datashaper packages + removed unused methods
  javascript/components/package.json
  javascript/types/package.json
  javascript/webapp/package.json
  javascript/webapp/src/utils/arquero.ts
  yarn.lock
Due: essex prettify --staged

updated arquero package
  javascript/webapp/package.json
  yarn.lock
Due: essex prettify --staged

updated package name
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/PrepareData.tsx
  javascript/webapp/src/state/outputTables.ts
Due: none

test build
  .vsts-ci.yml
Due: none

fix bug on deployment
  .vsts-ci.yml
Due: none

fix missing step on deployment stage ci (#195)
  .vsts-ci.yml
Due: none

fix example-files select verb
  javascript/webapp/public/data/examples/covid-19.json
  javascript/webapp/public/data/examples/smoking-cessation.json
Due: essex prettify --staged

fix example-files select verb (#196)
  javascript/webapp/public/data/examples/covid-19.json
  javascript/webapp/public/data/examples/smoking-cessation.json
Due: essex prettify --staged

add option to assign full table as population
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/DeriveDataVariablesPage.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/CompletedElements.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useBusinessLogic.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnAssignAllSubjects.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnSelectVariable.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/usePrepareData.ts
Due: none

fix assignment when no derived tables
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/DeriveDataVariablesPage.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useBusinessLogic.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnAssignAllSubjects.ts
Due: none

fix lint
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/DeriveDataVariablesPage.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useBusinessLogic.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/hooks/useOnAssignAllSubjects.ts
Due: none
