Repository microsoft/showwhy: changes, and which lint-staged commands are due for each by the changed paths.
All: essex prettify --staged, essex lint --fix --staged, bash -c "(cd python/showwhy-backend && poetry run isort ./showwhy_backend)", bash -c "(cd python/showwhy-backend && poetry run black ./showwhy_backend)", bash -c "(cd python/showwhy-inference && poetry run isort ./showwhy_inference)", bash -c "(cd python/showwhy-inference && poetry run black ./showwhy_inference)"

.lintstagedrc.json:

{
	"*.{json,md}": ["essex prettify --staged"],
	"javascript/**/*.*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}": [
		"essex lint --fix --staged"
	],
	"python/showwhy-backend/**/*.py": [
		"bash -c \"(cd python/showwhy-backend && poetry run isort ./showwhy_backend)\"",
		"bash -c \"(cd python/showwhy-backend && poetry run black ./showwhy_backend)\""
	],
	"python/showwhy-interface/**/*.py": [
		"bash -c \"(cd python/showwhy-inference && poetry run isort ./showwhy_inference)\"",
		"bash -c \"(cd python/showwhy-inference && poetry run black ./showwhy_inference)\""
	]
}

fix lint
  javascript/webapp/src/components/App/hooks/useSaveProject.ts
Due: none

fix specificationn on change message error
  javascript/api-client/src/FetchApiInteractor.ts
  javascript/api-client/src/Orchestrator/OrchestratorType.ts
  javascript/api-client/src/Orchestrator/orchestratorFactory.ts
  javascript/types/src/experiments/SignificanceTest.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useSpecificationCurve.ts
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/NewTaskIdsMessage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/RunManagement.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useRunSignificanceTest.ts
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useSignificanceTestManagement.ts
Due: none

fix lint
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/hooks/useSpecificationCurve.ts
Due: none

fix significance test error (#159)
  javascript/api-client/src/FetchApiInteractor.ts
  javascript/api-client/src/Orchestrator/Orchestrator.ts
  javascript/api-client/src/Orchestrator/OrchestratorType.ts
  javascript/api-client/src/Orchestrator/orchestratorFactory.ts
  javascript/types/src/experiments/SignificanceTest.ts
  javascript/webapp/src/components/App/hooks/useSaveProject.ts
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/NewTaskIdsMessage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/RunManagement.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useCurrentSignificanceTest.ts
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useRunSignificanceTest.ts
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useSignificanceTestData.ts
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/hooks/useSignificanceTestManagement.ts
Due: none

tests and readme
  javascript/builders/README.md
  javascript/builders/jest.config.mjs
  javascript/builders/package.json
  javascript/builders/src/__tests__/buildAlternativeModels.spec.ts
  javascript/builders/src/__tests__/buildEstimators.spec.ts
  javascript/builders/src/__tests__/buildLoadNode.spec.ts
  javascript/builders/src/__tests__/buildModelLevel.spec.ts
  javascript/builders/src/__tests__/buildNodes.spec.ts
  javascript/builders/src/__tests__/buildRefutationSpecs.spec.ts
  javascript/builders/src/__tests__/buildSignificanceTestsNode.spec.ts
  javascript/builders/src/__tests__/buildSpecs.spec.ts
  javascript/builders/src/__tests__/mocks.ts
  javascript/builders/src/buildNodes.ts
  javascript/builders/src/types.ts
  javascript/types/src/graphs/GraphNodeType.ts
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

jest-unit added
  javascript/builders/jest.config.mjs
  javascript/builders/package.json
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

readmes
  README.md
  javascript/acceptance-tests/README.md
  javascript/api-client/src/README.md
  javascript/components/README.md
  javascript/webapp/README.md
Due: essex prettify --staged

test results failed tests
  javascript/webapp/src/state/__tests__/stepStatus.spec.ts
Due: essex lint --fix --staged

fix yml
  .vsts-ci.yml
  python/.vsts-ci.yml
Due: none

fix tests
  .github/workflows/showwhy_inference.yml
  javascript/webapp/src/state/__tests__/stepStatus.spec.ts
Due: essex lint --fix --staged

fix test results and yaml configuration (#162)
  .github/workflows/showwhy_inference.yml
  .vsts-ci.yml
  python/.vsts-ci.yml
Due: none

add test results to playwright
  .vsts-ci.yml
  javascript/acceptance-tests/playwright.config.ts
Due: essex lint --fix --staged

add playwright to devops tests (#163)
  .vsts-ci.yml
  javascript/acceptance-tests/playwright.config.ts
Due: essex lint --fix --staged

rename commands to webapp and fix backend readmes
  .vsts-ci.yml
  README.md
  docker-compose.yml
  javascript/acceptance-tests/README.md
  javascript/webapp/package.json
  python/README.md
  python/showwhy-backend/README.md
  python/showwhy-inference/README.md
  python/showwhy-inference/tests/__init__.py
  python/showwhy-inference/tests/test_showwhy_inference.py
  webapp.dockerfile
Due: essex prettify --staged

rename commands to webapp and fix backend readmes (#164)
  .vsts-ci.yml
  README.md
  docker-compose.yml
  javascript/acceptance-tests/README.md
  javascript/webapp/package.json
  python/README.md
  python/showwhy-backend/README.md
  python/showwhy-inference/README.md
  python/showwhy-inference/tests/__init__.py
  python/showwhy-inference/tests/test_showwhy_inference.py
  webapp.dockerfile
Due: essex prettify --staged

add instructions to deploy to azure
  .vsts-ci.yml
  deployment.md
  python/showwhy-backend/README.md
Due: essex prettify --staged

fix yml
  deployment.md
Due: essex prettify --staged

fixes after PR
  deployment.md
Due: essex prettify --staged

change api keys
  deployment.md
  javascript/api-client/src/FetchApiInteractor.ts
  javascript/webapp/.env
  javascript/webapp/src/resources/api.ts
  javascript/webapp/src/resources/environment.ts
Due: essex prettify --staged

fix typo
  README.md
Due: essex prettify --staged

change combobox component to dropdown
  javascript/components/README.md
  javascript/components/src/DegreeDropdown/DegreeDropdown.tsx
  javascript/components/src/DegreeDropdown/index.ts
  javascript/components/src/index.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/hooks/items.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/hooks/onChange.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/AddVariableFields.tsx
  javascript/webapp/tsconfig.json
Due: essex prettify --staged

change combobox component to dropdown (#166)
  javascript/components/README.md
  javascript/components/src/DegreeDropdown/DegreeDropdown.tsx
  javascript/components/src/DegreeDropdown/index.ts
  javascript/components/src/index.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/hooks/items.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/hooks/onChange.ts
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/AddVariableFields.tsx
  javascript/webapp/tsconfig.json
Due: essex prettify --staged

introduce @essex/arquero-react package
  javascript/webapp/package.json
  javascript/webapp/src/pages/PrepareData/ConfirmDataPage/ConfirmDataPage.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/SelectedTableDisplay.tsx
  yarn.lock
Due: essex prettify --staged

deployment instructions (#165)
  .vsts-ci.yml
  README.md
  deployment.md
  javascript/api-client/src/FetchApiInteractor.ts
  javascript/webapp/.env
  javascript/webapp/src/resources/api.ts
  javascript/webapp/src/resources/environment.ts
  python/showwhy-backend/README.md
Due: essex prettify --staged

fix readme
  README.md
  python/showwhy-backend/README.md
Due: essex prettify --staged

introduce @essex/arquero-react package (#167)
  README.md
  javascript/webapp/package.json
  javascript/webapp/src/pages/PrepareData/ConfirmDataPage/ConfirmDataPage.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/SelectedTableDisplay.tsx
  python/showwhy-backend/README.md
  yarn.lock
Due: essex prettify --staged

fixes: tab navigation, on blur form
  javascript/webapp/src/hooks/useHandleOnBlur.ts
  javascript/webapp/src/hooks/variables.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/AlternativeDefinitionsForm.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useBusinessLogic.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderRelevantVariablesPage/RelevantVariablesForm.tsx
Due: none

improve component distribution
  javascript/components/README.md
  javascript/components/src/AppHeader/SaveProject.tsx
  javascript/components/src/AppHeader/index.ts
  javascript/components/src/DatasetsList/index.ts
  javascript/components/src/Guidance/index.ts
  javascript/components/src/UnderstandProcessModal/index.ts
  javascript/components/src/hooks.ts
  javascript/components/src/index.ts
  javascript/types/src/workflow/WorkflowHelp.ts
  javascript/types/src/workflow/index.ts
  javascript/webapp/package.json
  javascript/webapp/src/components/App/Layout.tsx
  javascript/webapp/src/components/App/components/AppHeader.tsx
  javascript/webapp/src/components/App/components/AppHeaderMenu.tsx
  javascript/webapp/src/components/App/components/Guidance.tsx
  javascript/webapp/src/components/App/components/OptionsButton.tsx
  javascript/webapp/src/components/App/components/UnderstandProcessButton.tsx
  javascript/webapp/src/components/App/components/UnderstandProcessItem.tsx
  javascript/webapp/src/components/App/components/UnderstandProcessLink.tsx
  javascript/webapp/src/components/App/components/UnderstandProcessModal.tsx
  javascript/webapp/src/data/understandProcess.ts
  javascript/webapp/src/hooks/__tests__/useMarkdown.spec.ts
  javascript/webapp/src/hooks/index.ts
  javascript/webapp/src/hooks/useMarkdown.ts
  javascript/webapp/src/pages/PrepareData/LoadDataPage/LoadDataPage.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/components/Dataset.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/components/DatasetsList.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/components/SelectedTableDisplay.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/components/SupportedFileTypes.tsx
  yarn.lock
Due: essex prettify --staged, essex lint --fix --staged

improve component distribution
  javascript/webapp/src/components/App/Layout.tsx
  javascript/webapp/src/components/App/components/AppHeader.tsx
  javascript/webapp/src/components/App/components/AppHeaderMenu.tsx
  javascript/webapp/src/components/App/components/Guidance.tsx
  javascript/webapp/src/components/App/components/UnderstandProcessButton.tsx
  javascript/webapp/src/components/App/components/UnderstandProcessItem.tsx
  javascript/webapp/src/components/App/components/UnderstandProcessModal.tsx
  javascript/webapp/src/data/understandProcess.ts
Due: none

refactor some components and fix file loadCorrectly on oad example
  javascript/components/README.md
  javascript/components/src/ErrorInfo/ErrorInfo.tsx
  javascript/components/src/ErrorInfo/ShortenMessage.tsx
  javascript/components/src/ErrorInfo/index.ts
  javascript/components/src/ErrorMessage/index.ts
  javascript/components/src/StepTitle/index.ts
  javascript/components/src/WorkflowTitle/WorkflowTitle.tsx
  javascript/components/src/WorkflowTitle/index.ts
  javascript/components/src/index.ts
  javascript/types/src/files/DropFilesCount.tsx
  javascript/types/src/files/index.ts
  javascript/types/src/workspace/DataTableDefinition.ts
  javascript/webapp/public/data/examples/covid-19.json
  javascript/webapp/public/data/examples/smoking-cessation.json
  javascript/webapp/src/components/App/Layout.tsx
  javascript/webapp/src/components/App/components/Guidance.tsx
  javascript/webapp/src/components/App/hooks/useSaveProject.ts
  javascript/webapp/src/components/GeneralSteps/StepSelector/StepSelector.tsx
  javascript/webapp/src/hooks/loadProject.ts
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/Controls.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/Datasets.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/EstimateCausalEffectPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/components/ErrorMessages.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/components/EstimatedEffectConfig.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/components/EstimatorsRunProgress.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/components/RefutationOptionsCallout.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/components/SpecificationDescription.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/components/SpecificationDetails.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/components/SpecificationGraphs.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/RunManagement.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/LoadDataPage.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/components/DropzoneContainer.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useDropzone.ts
Due: essex prettify --staged

businessLogic refactor
  javascript/webapp/src/hooks/index.ts
  javascript/webapp/src/hooks/useDimensions.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitions.state.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.hooks.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/PivotType.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/useBusinessLogic.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/usePivotData.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/usePivotType.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderRelevantVariablesPage/ConsiderRelevantVariablesPage.hooks.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderRelevantVariablesPage/ConsiderRelevantVariablesPage.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderRelevantVariablesPage/hooks/useDetailsList.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/FactorsTable/FactorsTable.tsx
  javascript/webapp/src/pages/ModelDomain/DefineCausalQuestion/DefineCausalQuestion.hooks.ts
  javascript/webapp/src/pages/ModelDomain/DefineCausalQuestion/DefineCausalQuestion.tsx
  javascript/webapp/src/pages/ModelDomain/DefineCausalQuestion/hooks/useDefineCausalQuestion.ts
  javascript/webapp/src/pages/PrepareData/ConfirmDataPage/ConfirmDataPage.hooks.ts
  javascript/webapp/src/pages/PrepareData/ConfirmDataPage/ConfirmDataPage.tsx
Due: essex lint --fix --staged

created component folders inside pages
  javascript/types/src/files/DropFilesCount.ts
  javascript/webapp/src/components/App/Layout.tsx
  javascript/webapp/src/components/App/Routes.tsx
  javascript/webapp/src/data/stepsList.ts
  javascript/webapp/src/hooks/__tests__/steps.spec.ts
  javascript/webapp/src/hooks/navigation.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/components/AlternativeDefinitionsForm.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/components/PivotType.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderRelevantVariablesPage/hooks/useFactorsNavigation.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderVariableRelationshipsPage/ConsiderVariableRelationshipsPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EstimateCausalEffectsPage/components/ErrorMessages.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/EvaluateHypothesisPage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/components/AnalysisSummary.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/components/EmptyDataPageWarning.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/components/NewTaskIdsMessage.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/components/ResultsGraph.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/components/RunManagement.tsx
  javascript/webapp/src/pages/PerformAnalysis/EvaluateHypothesisPage/components/SignificanceTestResult.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/DeriveDataVariablesPage.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/AddVariableFields.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/CompletedElements.tsx
  javascript/webapp/src/pages/PrepareData/DeriveDataVariablesPage/components/PrepareData.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/components/DropzoneContainer.tsx
  javascript/webapp/src/pages/PrepareData/LoadDataPage/hooks/useDropzone.ts
  javascript/webapp/tsconfig.json
Due: essex prettify --staged, essex lint --fix --staged

fix tests
  javascript/webapp/jest.config.js
Due: essex lint --fix --staged

fix after PR
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/components/PivotType.tsx
Due: none

fix tests
  javascript/webapp/src/components/App/components/AppHeaderMenu.tsx
Due: none

fix hooks surface
  javascript/webapp/src/pages/ModelDomain/ConfirmDomainModelsPage/ConfirmDomainModelsPage.hooks.ts
  javascript/webapp/src/pages/ModelDomain/ConfirmDomainModelsPage/ConfirmDomainModelsPage.tsx
  javascript/webapp/src/pages/ModelDomain/ConfirmDomainModelsPage/hooks/useBusinessLogic.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.hooks.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/ConsiderAlternativeDefinitionsPage.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/components/PivotType.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderAlternativeDefinitionsPage/hooks/usePivotData.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderRelevantVariablesPage/ConsiderRelevantVariablesPage.hooks.ts
  javascript/webapp/src/pages/ModelDomain/ConsiderRelevantVariablesPage/ConsiderRelevantVariablesPage.tsx
  javascript/webapp/src/pages/ModelDomain/ConsiderRelevantVariablesPage/hooks/useDetailsList.ts
  javascript/webapp/src/pages/ModelDomain/DefineCausalQuestion/DefineCausalQuestion.hooks.ts
  javascript/webapp/src/pages/ModelDomain/DefineCausalQuestion/DefineCausalQuestion.tsx
  javascript/webapp/src/pages/ModelDomain/DefineCausalQuestion/hooks/useDefineCausalQuestion.ts
Due: essex lint --fix --staged

hypothesis cards
  javascript/acceptance-tests/pageObjects/DefineCausalQuestionPO.ts
  javascript/components/src/CardComponent/RadioButtonCard.tsx
  javascript/webapp/src/pages/ModelDomain/DefineCausalQuestion/DefineCausalQuestion.tsx
  javascript/webapp/src/pages/ModelDomain/DefineCausalQuestion/HypothesisGroup.tsx
  javascript/webapp/src/pages/ModelDomain/DefineCausalQuestion/hooks/useDefineCausalQuestion.ts
  javascript/webapp/src/pages/ModelDomain/DefineCausalQuestion/hooks/useSetHypothesis.ts
Due: none

fix order on graph
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  javascript/webapp/src/utils/__tests__/specificationCurveManagement.spec.ts
  javascript/webapp/src/utils/specificationCurveManagement.ts
Due: essex lint --fix --staged

create more tests
  javascript/webapp/src/utils/__tests__/specificationCurveManagement.spec.ts
  javascript/webapp/src/utils/specificationCurveManagement.ts
Due: essex lint --fix --staged
